<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">长牌（二不同）</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="195912">
			<span class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-2">2</span>
			</span>
		 	<span class="bet-item">1.982</span>
		</div>
		<div class="col col-50 bet ok" data-id="195913">
			<span class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-3">3</span>
			</span>
		 	<span class="bet-item">1.982</span>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="195914">
			<div class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-4">4</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="195915">
			<div class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="195916">
			<div class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-6">6</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="195923">
			<div class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-3">3</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="195924">
			<div class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-4">4</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="195925">
			<div class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="195926">
			<div class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-6">6</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="195934">
			<div class="bet-content">
				<span class="round-10 data-3">3</span>
				<span class="round-10 data-4">4</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="195935">
			<div class="bet-content">
				<span class="round-10 data-3">3</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="195936">
			<div class="bet-content">
				<span class="round-10 data-3">3</span>
				<span class="round-10 data-6">6</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="195945">
			<div class="bet-content">
				<span class="round-10 data-4">4</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="195946">
			<div class="bet-content">
				<span class="round-10 data-4"></span>
				<span class="round-10 data-6"></span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="195956">
			<div class="bet-content">
				<span class="round-10 data-5"></span>
				<span class="round-10 data-6"></span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 ok"></div>
	</div>
</ion-content>