<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">短牌（二同号）</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="196011">
			<span class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-1">1</span>
			</span>
		 	<span class="bet-item">1.982</span>
		</div>
		<div class="col col-50 bet ok" data-id="196022">
			<span class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-2">2</span>
			</span>
		 	<span class="bet-item">1.982</span>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="196033">
			<div class="bet-content">
				<span class="round-10 data-3">3</span>
				<span class="round-10 data-3">3</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="196044">
			<div class="bet-content">
				<span class="round-10 data-4">4</span>
				<span class="round-10 data-4">4</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="196055">
			<div class="bet-content">
				<span class="round-10 data-5">5</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="196066">
			<div class="bet-content">
				<span class="round-10 data-6">6</span>
				<span class="round-10 data-6">6</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
</ion-content>