<ion-view view-title="资金管理">
	<ion-nav-buttons side="left">
    	<a class="button button-icon icon-prepage" ng-click="back();"></a>
  	</ion-nav-buttons>
  	
	<ion-content class="m-center m-info m-cash">
		<div class="cash-top">
			<div class="row sub-header">
				<div class="col col-33">
					<img class="avatar" src="/images/avatar.png">
				</div>
				<div class="col col-66">
					<h5>{{My.getUserName()}}</h5>
					<p ng-click="getWallet()" >
						用户余额：<span  style=""><span class="money">{{My.getMoney()}}</span>RMB</span>
						<a class="refresh" ng-click="refreshMoney();"><img src="/images/icon-refresh.png"></a>
					</p>
				</div>
			</div>
			<div class="tabs-striped tabs-top">
				<div class="tabs tabs-theme">
					<a class="tab-item tab-item-25 active" href="#/bank/deposit"><span >存款</span></a>
					<a class="tab-item tab-item-25" href="#/bank/withdraw"><span >取款</span></a>
					<a class="tab-item tab-item-25" href="#/bank/trans/1">存款记录</a>
					<a class="tab-item tab-item-25" href="#/bank/trans/2">取款记录</a>
				</div>
			</div>
		</div>
		<div class="list list-new">
			<ul>
				<li ng-if="rechTypeMap['bankOnline'].length > 0" class="item">
				<a href="#/bank/onlinepay"><img alt="" src="/images/online-pay.png">
					<div class="fl"><p>在线支付</p><span>支持多家银行，转账更便捷</span></div>
				</a>
				</li>
				<li ng-if="rechTypeMap['bankTransfer'].length > 0" class="item">
					<a href="#/bank/bankpay"><img alt="" src="/images/transfer.png">
						<div class="fl"><p>银行转账</p><span>线下入款，您的首选</span></div>
					</a>
				</li>
				
				<li ng-if="rechTypeMap['alipayOnline'].length > 0" class="item">
				<a href="#/bank/alipayOnline"><img alt="" src="/images/zfb-icon.png">
					<div class="fl"><p>支付宝在线支付</p><span>支付宝在线支付</span></div>
				</a>
				</li>
				
				<li ng-if="rechTypeMap['weixinOnline'].length > 0" class="item">
				<a href="#/bank/weixinOnline"><img alt="" src="/images/wechatpay-icon.png">
					<div class="fl"><p>微信在线支付</p><span>微信在线支付</span></div>
				</a>
				</li>
				
				<li ng-if="rechTypeMap['alipay'].length > 0" class="item">
					<a href="#/bank/alipay"><img alt="" src="/images/zfb-icon.png">
						<div class="fl"><p>支付宝支付</p><span>支付宝转账支付</span></div>
					</a>
				</li>
				
				<li ng-if="rechTypeMap['weixin'].length > 0" class="item">
					<a href="#/bank/wechatpay"><img alt="" src="/images/wechat-icon.png">
						<div class="fl"><p>微信支付</p><span>微信支付</span></div>
					</a>
				</li>
				
				<li ng-if="rechTypeMap['cft'].length > 0" class="item">
					<a href="#/bank/cftpay"><img alt="" src="/images/cft-icon.png">
						<div class="fl"><p>财付通</p><span>财付通汇款</span></div>
					</a>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>


