<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">长牌（二不同）</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145912">
			<span class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-2">2</span>
			</span>
		 	<span class="bet-item">1.982</span>
		</div>
		<div class="col col-50 bet ok" data-id="145913">
			<span class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-3">3</span>
			</span>
		 	<span class="bet-item">1.982</span>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145914">
			<div class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-4">4</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="145915">
			<div class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145916">
			<div class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-6">6</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="145923">
			<div class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-3">3</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145924">
			<div class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-4">4</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="145925">
			<div class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145926">
			<div class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-6">6</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="145934">
			<div class="bet-content">
				<span class="round-10 data-3">3</span>
				<span class="round-10 data-4">4</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145935">
			<div class="bet-content">
				<span class="round-10 data-3">3</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="145936">
			<div class="bet-content">
				<span class="round-10 data-3">3</span>
				<span class="round-10 data-6">6</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145945">
			<div class="bet-content">
				<span class="round-10 data-4">4</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="145946">
			<div class="bet-content">
				<span class="round-10 data-4"></span>
				<span class="round-10 data-6"></span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="145956">
			<div class="bet-content">
				<span class="round-10 data-5"></span>
				<span class="round-10 data-6"></span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 ok"></div>
	</div>
</ion-content>