<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">点数（和值）</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145804"><span class="bet-content">4点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="145805"><span class="bet-content">5点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145806"><span class="bet-content">6点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="145807"><span class="bet-content">7点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145808"><span class="bet-content">8点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="145809"><span class="bet-content">9点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145810"><span class="bet-content">10点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="145811"><span class="bet-content">11点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145812"><span class="bet-content">12点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="145813"><span class="bet-content">13点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="145814"><span class="bet-content">14点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="145815"><span class="bet-content">15点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="145816"><span class="bet-content">16点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="145817"><span class="bet-content">17点</span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>