<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">围骰（单选豹子）、通选豹子</div></div>
	
	<div class="row">
		<div class="col col-50 bet special ok" data-id="145701">
			<div class="bet-content">
				<span class="round-10 data-1"></span>
				<span class="round-10 data-1"></span>
				<span class="round-10 data-1"></span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet special ok" data-id="145702">
			<div class="bet-content">
				<span class="round-10 data-2"></span>
				<span class="round-10 data-2"></span>
				<span class="round-10 data-2"></span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet special ok" data-id="145703">
			<div class="bet-content">
				<span class="round-10 data-3"></span>
				<span class="round-10 data-3"></span>
				<span class="round-10 data-3"></span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet special ok" data-id="145704">
			<div class="bet-content">
				<span class="round-10 data-4"></span>
				<span class="round-10 data-4"></span>
				<span class="round-10 data-4"></span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet special ok" data-id="145705">
			<div class="bet-content">
				<span class="round-10 data-5"></span>
				<span class="round-10 data-5"></span>
				<span class="round-10 data-5"></span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet special ok" data-id="145706">
			<div class="bet-content">
				<span class="round-10 data-6"></span>
				<span class="round-10 data-6"></span>
				<span class="round-10 data-6"></span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
		<div class="row end">
		<div class="col col-50 bet ok" data-id="146201"><span class="bet-content">111、222、333、444、555、666   </span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>