<ion-content class="bet-view">
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">冠亚和<span class="jia">+</span></div></div><div class="none">
			    				
	<div class="row">
		<div class="col col-50 bet ok" data-id="5510101"><span class="bet-content">冠亚大</span><span class="bet-item">2.2</span></div>
		<div class="col col-50 bet ok" data-id="5510102"><span class="bet-content">冠亚小</span><span class="bet-item">1.77</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="5510103"><span class="bet-content">冠亚单</span> <span class="bet-item">1.77</span></div>
		<div class="col col-50 bet ok" data-id="5510104"><span class="bet-content">冠亚双</span> <span class="bet-item">2.2</span></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">冠军<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-33 bet ok" data-id="5510213"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="5510211"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="5510215"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="5510214"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="5510212"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="5510216"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">亚军<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-33 bet ok" data-id="5510313"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="5510311"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="5510315"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="5510314"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="5510312"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="5510316"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第三名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-33 bet" data-id="5510413"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="5510411"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="5510415"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet" data-id="5510414"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="5510412"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="5510416"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第四名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-33 bet" data-id="5510513"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="5510511"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="5510515"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet" data-id="5510514"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="5510512"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="5510516"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第五名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-33 bet" data-id="5510613"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="5510611"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="5510615"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet" data-id="5510614"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="5510612"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="5510616"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第六名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-50 bet" data-id="5510713"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="5510711"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="5510714"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="5510712"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第七名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-50 bet" data-id="5510813"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="5510811"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="5510814"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="5510812"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第八名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-50 bet" data-id="5510913"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="5510911"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="5510914"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="5510912"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第九名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-50 bet" data-id="5511013"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="5511011"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="5511014"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="5511012"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第十名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-50 bet" data-id="5511113"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="5511111"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet" data-id="5511114"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="5511112"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
	</div>
</ion-content>