@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;font-size: 14px;}
html,body{ height: 100%; overflow: hidden;}
html{ /*background: url(../imgs/bg.jpg) top center no-repeat;background-size: 100% 100%;*/ }
body{font-family:'Microsoft Yahei';font-size:14px; background: url(../imgs/bg.jpg) top center no-repeat; 
background-size: 100% 100%; background-attachment: fixed; }
ul li {list-style: none;}
ul,li,dl,dd,dt,p,img,span{list-style-type:none; margin:0; padding:0; border:0;}
a{text-decoration:none;}
input, select {height: 16px;vertical-align: middle; border:0 !important;}
a,img{border:0;}
.cl{clear:both;}
.fl{ float: left;}
.fr{ float: right;}
.container{width:961px; margin:0 auto;}

.header ul{
	height: 131px;
    background: url(reg_bg.png) no-repeat center top;
}

.header{
	width: 100%;
    height: 131px;
    background: url(reg_headbg.jpg) repeat-x left top;
} 
.reg_nav{
	width: 100%;
    height: 50px;
    background: url(reg_navbg.jpg) repeat-x center top;
}
.reg_info{
	width: 1000px;
    margin: 0 auto;
}
.reg_title{
	background: url(reg_line.png) repeat-x left bottom;
    margin: 0 0 30px 0;
}
.reg_title li{
	font-size: 24px;
    color: #ce483f;
    line-height: 40px;
    margin: 0 0 20px 0;
    background: url(ico_reg.png) no-repeat left;
    padding-left: 50px;
}

#logn input{
	width: 340px;
    height: 34px;
    font-size: 20px;
    line-height: 34px;
    text-indent: 5px;
    border-top: 1px solid #b8b8b8!important;
    border-left: 1px solid #b8b8b8!important;
    border-right: 1px solid #cccccc!important;
    border-bottom: 1px solid #cccccc!important;
    margin: 0 15px 0 0;
}
#logn tr{
	margin: 12px 0;
	display: block;
}

#logn  table{
	margin-left: 5%;
    border-bottom: 4px solid #e3e3e3;
    margin-bottom: 10px;
}


.btn-reg{
	border: 0 none!important;
	background: url(reg_bu.jpg) no-repeat left top;
	width: 202px!important;
    height: 43px!important;
    margin: 0 20px 0 70px!important;
}
.btn-reset{
	border: 0 none!important;
	background: url(reg_bu.jpg) no-repeat left -86px;
	width: 202px!important;
    height: 43px!important;
    display: inline-block;
    position: relative;
    top: 17px;
}
.header li{
	    width: 1000px;
    margin: 0 auto;
}
