
<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);"> 
   <div class="typo"> 
	   			<h2>江苏快3规则说明</h2>
				<ul>
					<li>该游戏的投注时间、开奖时间和开奖号码与“江苏快3”完全同步，北京时间（GMT+8）每天白天从上午08:40开到晚上22:10，每10分钟开一次奖,每天开奖82期。</li>
					<li>具体游戏规则如下:</li>
				</ul>
				<ul>
					<li><p class="title">骰宝</p>
						<p  class="label">一、博彩者可在下列各瓣下注：</p>
						<p  class="stress">1.<span class="label">小：</span>三粒骰子之点数总和由4点至10点；</p>
						<p class="stress">2.<span class="label">大：</span>三粒骰子之点数总和由11点至17点；注：若三粒骰子平面点数相同，通吃「大」、「小」各注。</p>
						<p class="stress">3.<span class="label">三军/鱼虾蟹：</span>任何一粒骰子出现选定之平面点数；</p>
						<p class="stress">4.<span class="label">围骰：</span>三粒骰子平面与选定点数相同；</p>
						<p class="stress">5.<span class="label">全骰：</span>在一点至六点内，三粒骰子平面点数相同；</p>
						<p class="stress">6.<span class="label">点数：</span>由4点至17点，三粒骰子平面点数之总和；</p>
						<p class="stress">7.<span class="label">长牌：</span>任两粒骰子之平面点数；</p>
						<p class="stress">8.<span class="label">短牌：</span>选定两粒骰子之平面点数；</p></li>
				</ul>
	   		</div>
	   		<div id="GAME_61_PAGE" class="hide">
	   			<h2>重庆幸运农场规则说明</h2>
				<ul>
					<li>每期重庆幸运农场开奖球数共八粒。每粒球除了总和玩法，其它都有单独的投注页面。重庆幸运农场每天开97期，每期间隔10分钟。投注时间为8分钟，等待开奖时间为2分钟，北京时间（GMT+8）每天白天从上午10：00开到次日凌晨02：00。</li>
				</ul>
				<ul>
					<li><span class="label">1.两面：</span>指单、双；大、小、尾大、尾小。</li>
					<li class="stress">单、双：号码为双数叫双，如8、16；号码为单数叫单，如19、5。</li>
					<li class="stress">大、小：开出之号码大于或等于11为大，小于或等于10为小。</li>
					<li class="stress">尾大、尾小：开出之尾数大于或等于5为尾大，小于或等于4为尾小。</li>
					<li class="stress">每一个号码为一投注组合，假如投注号码为开奖号码并在所投的球位置，视为中奖，其余情形视为不中奖。</li>
				</ul>
				<ul>
					<li><span class="label">2.中发白</span></li>
					<li class="stress">中：开出之号码为01、02、03、04、05、06、07</li>
					<li class="stress">发：开出之号码为08、09、10、11、12、13、14</li>
					<li class="stress">白：开出之号码为15、16、17、18、19、20</li>
				</ul>
				<ul>
					<li><span class="label">3.方位</span></li>
					<li class="stress">东：开出之号码为01、05、09、13、17</li>
					<li class="stress">南：开出之号码为02、06、10、14、18</li>
					<li class="stress">西：开出之号码为03、07、11、15、19</li>
					<li class="stress">北：开出之号码为04、08、12、16、20</li>
				</ul>
				<ul>
					<li><span class="label">13.龙虎</span>以第一球的中奖号码和第八球的中奖号码做为对奖号码。</li>
					<li class="stress">龙：开出之号码第一球的中奖号码大于第八球的中奖号码。如 第一球开出14 第八球开出09；第一球开出17 第八球开出08；第一球开出05 第八球开出01...中奖为龙。</li>
					<li class="stress">虎：开出之号码第一球的中奖号码小于第八球的中奖号码。如 第一球开出14 第八球开出16；第一球开出13 第八球开出18；第一球开出05 第八球开出08...中奖为虎。</li>
				</ul>
				<ul>
					<li><span class="label">14.正码</span></li>
					<li class="stress">从01至20中任意选择1个号码进行投注， 投注号码与开奖号码中任意1个位置的号码相符，即中奖。</li>
				</ul>
				<ul>
					<li><span class="label">4.总和单双：</span>所有8个开奖号码的数字总和值是单数为总和单，如数字总和值是31、51；所有8个开奖号码的数字总和值是双数为总和双，如数字总和是42、80；假如投注组合符合中奖结果，视为中奖，其余情形视为不中奖。</li>
					<li><span class="label">5.总和大小：</span>所有8个开奖号码的数字总和值85到132为总大；所有8个开奖号码的数字总和值36到83为总分小；所有8个开奖号码的数字总和值为84打和；如开奖号码为01、20、02、08、17、09、11，数字总和是68，则总分小。假如投注组合符合中奖结果，视为中奖，其余情形视为不中奖，打和不计算结果。</li>
					<li><span class="label">6.总尾大小：</span>所有8个开奖号码的数字总和数值的个位数大于或等于5为总尾大，小于或等于4为总尾小；假如投注组合符合中奖结果，视为中奖，其余情形视为不中奖。</li>
					<li><span class="label">7.选二任选：</span>指从01至20中任意选择2个号码对开奖号码中任意2个位置的投注。 投注号码与开奖号码中任意2个位置的号码相符，即中奖。</li>
					<li><span class="label">8.选二连组：</span>指从01至20中任意选择2个号码对开奖号码中按开奖顺序出现的2个连续位置的投注。 投注号码与开奖号码中按开奖顺序出现的2个连续位置的号码相符（顺序不限），即中奖。</li>
					<li><span class="label">9.选三任选：</span>指从01至20中任意选择3个号码对开奖号码中任意3个位置的投注。 投注号码与开奖号码中任意3个位置的号码相符，即中奖。</li>
					<li><span class="label">10.选三前组：</span>指从01至20中任意选择3个号码对开奖号码中按开奖顺序出现的前3个连续位置的投注。 投注号码与开奖号码中按开奖顺序出现的前3个位置的号码相符（顺序不限），即中奖。</li>
					<li><span class="label">11.选四任选：</span>指从01至20中任意选择4个号码，对开奖号码中任意4个位置的投注。 投注号码与开奖号码中任意4个位置的号码相符，即中奖。</li>
					<li><span class="label">12.选五任选：</span>指从01至20中任意选择5个号码，对开奖号码中任意5个位置的投注。 投注号码与开奖号码中任意5个位置的号码相符，即中奖。</li>
				</ul>
	   		</div></div>