<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">点数（和值）</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="115804"><span class="bet-content">4点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="115805"><span class="bet-content">5点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="115806"><span class="bet-content">6点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="115807"><span class="bet-content">7点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="115808"><span class="bet-content">8点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="115809"><span class="bet-content">9点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="115810"><span class="bet-content">10点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="115811"><span class="bet-content">11点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="115812"><span class="bet-content">12点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="115813"><span class="bet-content">13点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="115814"><span class="bet-content">14点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="115815"><span class="bet-content">15点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="115816"><span class="bet-content">16点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="115817"><span class="bet-content">17点</span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>