<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">三军（单挑一码）、和值大小单双</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="115601"><span class="bet-content round-11 data-1">1</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="115602"><span class="bet-content round-11 data-2">2</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="115603"><span class="bet-content round-11 data-3">3</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="115604"><span class="bet-content round-11 data-4">4</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="115605"><span class="bet-content round-11 data-5">5</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="115606"><span class="bet-content round-11 data-6">6</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="116101"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="116102"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row end">
		<div class="col col-50 bet ok" data-id="116103"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="116104"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>