
<ion-content class="bet-view">
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">第一球<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="2200"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2201"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2202"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2203"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2204"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2205"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2206"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2207"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2208"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2209"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">第二球<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="2300"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2301"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2302"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2303"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2304"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2305"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2306"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2307"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2308"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2309"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">第三球<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="2400"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2401"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2402"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2403"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2404"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2405"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2406"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2407"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2408"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2409"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">第四球<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="2500"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2501"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2502"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2503"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2504"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2505"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2506"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2507"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2508"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2509"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">第五球<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="2600"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2601"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2602"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2603"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2604"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2605"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2606"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2607"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="2608"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="2609"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	</div>
</ion-content>