
<ion-content class="bet-view">
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">前三<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="2701"><span class="bet-content">豹子</span> <span class="bet-item">70</span></div>
		<div class="col col-50 bet ok" data-id="2702"><span class="bet-content">顺子</span> <span class="bet-item">14</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2703"><span class="bet-content">对子</span> <span class="bet-item">3.2</span></div>
		<div class="col col-50 bet ok" data-id="2704"><span class="bet-content">半顺</span> <span class="bet-item">2.3</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-100 bet ok" data-id="2705">
			<span class="bet-content">杂六</span> <span class="bet-item">2.8</span>
		</div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">中三<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="2801"><span class="bet-content">豹子</span> <span class="bet-item">70</span></div>
		<div class="col col-50 bet ok" data-id="2802"><span class="bet-content">顺子</span> <span class="bet-item">14</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2803"><span class="bet-content">对子</span> <span class="bet-item">3.2</span></div>
		<div class="col col-50 bet ok" data-id="2804"><span class="bet-content">半顺</span> <span class="bet-item">2.3</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-100 bet ok" data-id="2805"><span class="bet-content">杂六</span> <span class="bet-item">2.8</span></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">后三<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="2901"><span class="bet-content">豹子</span> <span class="bet-item">70</span></div>
		<div class="col col-50 bet ok" data-id="2902"><span class="bet-content">顺子</span> <span class="bet-item">14</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="2903"><span class="bet-content">对子</span> <span class="bet-item">3.2</span></div>
		<div class="col col-50 bet ok" data-id="2904"><span class="bet-content">半顺</span> <span class="bet-item">2.3</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-100 bet ok" data-id="2905"><span class="bet-content">杂六</span> <span class="bet-item">2.8</span></div>
	</div>
	</div>
</ion-content>