<ion-content class="bet-view">
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码一<span class="jia">+</span></div></div>
	<div class="none">
	<div data-title="正码一">
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092052"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092053"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092050"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092051"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092056"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092057"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092054"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092055"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092061"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092062"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="8092058"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="8092059"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="8092060"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	</div>
	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码二<span class="jia">+</span></div></div>
	<div class="none">
	<div data-title="正码二">
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092114"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092115"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092112"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092113"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092118"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092119"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092116"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092117"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092123"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092124"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="8092120"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="8092121"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="8092122"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	</div>
	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码三<span class="jia">+</span></div></div>
	<div class="none">
	<div data-title="正码三">
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092176"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092177"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092174"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092175"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092180"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092181"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092178"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092179"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092185"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092186"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="8092182"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="8092183"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="8092184"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	</div>
	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码四<span class="jia">+</span></div></div>
	<div class="none">
	<div data-title="正码四">
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092238"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092239"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092236"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092237"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092242"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092243"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092240"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092241"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092247"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092248"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="8092244"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="8092245"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="8092246"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	</div>
	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码五<span class="jia">+</span></div></div>
	<div class="none">
	<div data-title="正码五">
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092300"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092301"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092298"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092299"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092304"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092305"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092302"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092303"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092309"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092310"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="8092306"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="8092307"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="8092308"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	</div>
	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码六<span class="jia">+</span></div></div>
	<div class="none">
	<div data-title="正码六">
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092362"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092363"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092360"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092361"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092366"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092367"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092364"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092365"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="8092371"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="8092372"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row end">
			<div class="col col-33 bet ok" data-id="8092368"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="8092369"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="8092370"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	</div>
</ion-content>