
.kefuser *{margin:0;padding:0;list-style:none;border:none;}
.kefuser a{color:#666;text-decoration:none;}
/*客服代码部分*/
.kefuser .kefuser-header:after,.kefuser .kefuser-header:before,.kefuser li a:after,.kefuser li a:before{display:table;content:' '}
.kefuser .kefuser-header:after,.kefuser li a:after{clear:both}
.kefuser .kefuser-header,.kefuser li a,.tabs,.user-main,.view-category,.view-category-list>li{*zoom:1}
.kefuser{position:fixed;top:50%;right:0;height:209px;margin-top:-170px;z-index:99999;}
.kefuser .unfold .kefuser-body{right:0}
.kefuser .kefuser-body{display:block;position:absolute;right:-170px;width:145px;padding:12px 10px;-webkit-transition:.3s cubic-bezier(.19,1,.22,1);-o-transition:.3s cubic-bezier(.19,1,.22,1);transition:.3s cubic-bezier(.19,1,.22,1);border:1px solid #78a8fd;border-radius:4px;background:#057bd3}
.kefuser .kefuser_fold{position:absolute;right:0;padding:14px 7px;cursor:pointer; border-top-left-radius:4px;border-bottom-left-radius:4px;background:#057bd3}
.kefuser .kefuser-header{padding-bottom:10px;padding-left:6px;border-bottom:1px solid #fff}
.kefuser .kefuser-header *{float:left}
.kefuser .kefuser_arrow{margin-top:-1px;margin-left:7px;cursor:pointer}
.kefuser li{margin-top:6px}
.kefuser li a{display:block;padding:6px 12px 4px}
.kefuser li a div{font-size:14px;float:left;margin-right:11px;color:#697466}
.kefuser li a span{font-size:12px;line-height:18px;float:left;text-indent:4px;color:#fff}
.kefuser li a span.kefuser-service-alert{font-weight:400;display:block}
.kefuser li a:hover{text-decoration:none;border-radius:4px;background:#eaebe9}
.kefuser li a:hover div{color:#78a8fd}
.kefuser .kefuser-footer{margin-top:10px;padding-top:14px;padding-bottom:14px;padding-left:11px;border-top:1px dashed #d1d4cc}
.kefuser .kefuser-footer .text-primary{color:#78a8fd;font-size:14px;}
.kefuser .kefuser_icon-alert{display:inline-block;margin-right:10px;vertical-align:-3px;*display:inline;*zoom:1;*vertical-align:-1px}
.kefuser-header div{width:90px;height:18px;background-image:url(../images/i.png);background-position:-55px -60px}
.kefuser_icon-alert{width:16px;height:14px;background-image:url(../images/i.png);background-position:-595px -85px}
.kefuser li a span{width:30px;height:23px;background-image:url(../images/i.png);background-position:-265px 0}
.kefuser li a .kefuser-service-alert{width:30px;height:22px;background-image:url(../images/i.png);background-position:-342px 0}
.kefuser_fold div{width:26px;height:132px;background-image:url(../images/i.png);background-position:0 0}
.kefuser_fold:hover div{width:26px;height:132px;background-image:url(../images/i.png);background-position:-27px 0}


.kefuser .p1, .kefuser .p2{font:12px Microsoft YaHei,tahoma,sans-serif;margin-top:0; width:100%; color: #fff700;}

.kefuser .btns{padding: 10px 15px 10px;}
.kefuser .btns a {display: block;overflow: hidden; height: 34px; font-size: 14px;line-height: 34px;text-align: center; vertical-align: middle;border-radius: 3px;text-decoration: none;transition: background linear .08s,color linear .08s; color: #2a85d6;}
.kefuser .btn-qq { display: inline-block; position: relative; vertical-align: top; width: 120px; height: 34px; margin: 0; padding: 0 0 0 0; border: 1px solid #007EB8; background: #fff; color: #007eb8; font: 16px/34px Microsoft YaHei,tahoma,sans-serif; text-align: center; text-decoration: none;margin-top:5px;}
.kefuser .btn-web { display: inline-block; position: relative; vertical-align: top; width: 96px; height: 34px; margin: 0; padding: 0 10px 0 10px; border: 1px solid #007EB8; background: #fff; color: #007eb8; font: 16px/34px Microsoft YaHei,tahoma,sans-serif; text-align: center; text-decoration: none;margin-top:5px;}
.kefuser .btn-qq i { display: block; overflow: hidden; position: absolute; left: 15px; top: 7px; width: 19px; height: 19px; background: url(../images/qq-btn.png) 0 -5px; _background-image: url(../images/qq-btn.png);}
.kefuser .btn-qq:hover { zoom: 1; background-color: #e87b18; color: #fff;}
.kefuser .btn-web:hover { zoom: 1; background-color: #e87b18; color: #fff;}
.kefuser .btn-qq:hover i { background-position: 0 -39px;}

.kefuser .btns a span{
	color: #fff;
}