*{
	margin: 0;
	padding: 0;
}
.inner{
	width: 1030px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:before,
.clearfix:after{
	display: table;
	content: '';
}
.clearfix:after{
	clear: both;
}
img{
	border: 0 none;
	vertical-align: middle;
}
a{
	color: #30f;
	text-decoration: none;
	background-color: transparent;
}
.logos{ 	position:absolute;
	left:50%; margin-left:-140px; top:20px}
a:active,
a:hover,
:focus{
	outline: 0;
}
body,
input,
button,
select,
textarea{
	font: 12px/1.5 "Microsoft YaHei", Arial, \5b8b\4f53, sans-serif;
	color: #30f;
}
.container{ width:1030px; margin:0px auto}
.icon,
.btn{
	display: inline-block;
}
.icon{
	position: relative;
	vertical-align: top;
	background: url(../images/icon.png) no-repeat;
}
.btn{
	border: 0 none;
	text-align: center;
	cursor: pointer;
}
.btn:hover{
	opacity: .9;
	filter: alpha(Opacity=90);
}
html{background:url(../images/bg.jpg) center top no-repeat;background-size:cover; min-height:100%}
.register-bg{
	background: #ffffff;
}
.register-container{
	overflow: hidden;
}
.register-header{

	z-index: 9;
	top: 0;
	left: 0;
	width: 100%; background:url(../images/banner.jpg); height:235px
}
.register-banner{
	height: 325px;
	overflow: hidden;
	background: url(../images/register_banner.jpg) no-repeat center top;
}
.register-inner{
	padding: 14px 49px 100px;
	margin-top: 40px;
	border: 1px solid #efefef;
	background-color: #fff;
}
.register-heading{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #b2b2b2;
	font-size: 18px;
	color: #e2413e; font-weight:bold
}
.register-heading .icon-edit{
	float: left;
	width: 22px;
	height: 22px;
	margin-top: 4px;
	margin-right: 10px;
	background-position: 0 0;
}
.register-form{ background-color:#FFFFFF; margin-left:20px; margin-right:20px; height:330px; overflow:hidden
}
.tis{ background:url(../images/write.jpg) left center no-repeat; padding-left:45px; height:50px; font-size:14px; border-bottom:1px solid #037cd5; margin-left:15px; margin-right:15px; margin-top:10px}
.tis span{ color:#FF0000}
.clear{ clear:both; height:20px}
.register-form .input-group{
	overflow: hidden;
	margin-top: 10px;
}
.register-form .ipt-lab,
.register-form .ipt,
.register-form .ipt-tip{
	float: left;
}
.register-form .code-img{

}

.register-form .ipt-lab,
.register-form .ipt-tip,
.login-form .ipt-lab{
	height: 36px;
	line-height: 36px;
	overflow: hidden;
}
.code-img{ position:absolute; left:295px; top:10px}
.register-form .ipt-lab{
	width: 75px;
	margin-right: 10px;
	text-align: right;
}
.register-form .ipt-tip,
.register-form .code-img{
	margin-left: 20px; position:absolute; 
}
.register-form .ipt-tip{
	color:#FF0000
}
.register-form .ipt,
.login-form .ipt{
	height: 24px;
	line-height: 24px \9;
	padding: 5px 9px;
	border-radius: 5px;
}
.register-form .ipt{
	width: 280px;
	border: 1px solid #c1c1c1; background-color:#dcdcdc; height:20px
}
.register-form .code-img{
	margin-top: 3px;
}
.register-form .btn-group{
	padding-left: 85px; padding-top:15px
}
.register-form .btn-group .btn{
	display: block;
	width: 270px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 15px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
}
.register-form .btn-group .btn-reg{ width:248px; height:40px; background-color:#004477; border:0px; float:left; color:#FFFFFF; font-size:18px;border-radius: 5px;
}
.zhanghu{ display:inline-block; float:left; line-height:34px; margin:0px 22px; color:#d70000}
.register-form .btn-group .btn-login{
	width:248px; height:40px; background-color:#da251c; border:0px; float:left; color:#FFFFFF; font-size:18px;border-radius: 5px; margin-left:55px; text-align:center; line-height:40px
}
.register-form .btn-group .btn-login:hover{opacity: .9;
	filter: alpha(Opacity=90);}
	.register-form .btn-group .btn-reg:hover{opacity: .9;
	filter: alpha(Opacity=90);}
	
.footer{
	padding-top: -10px;

	text-align: center;
	font-size: 10px;
	color: #1e242c; margin-top:55px
}
.footer p{
	margin-top: -5px;

}
.register-container .footer{
	color: #858585;
}
.header{
	height: 183px;
	overflow: hidden; position:relative
}
.logo{
	top:0px; width:1000px; margin:0px auto; margin-top:55px
}
.logo .url{
	position: absolute;
	z-index: 9;
	top: 48px;
	right: 0;
	width: 206px;
	height: 24px;
	overflow: hidden;
	line-height: 24px;
	font-size: 14px;
	color: #fff;
	text-align: center;
}
.content{
	 width:1030px; height:383px; position:relative;  margin-top:22px
}
.lanmu{ position:absolute; top:-35px; right:0px}
.lanmu a{ display:inline-block; width:135px; height:35px; text-align:center; line-height:35px; font-size:18px; color:#FFFFFF; margin-right:10px; background-color:#037cd5;border-radius: 15px 15px 0 0;}
.float-login{
	position: relative;
	float: right;
	width: 280px;
	height: 339px;
	padding:1px 20px;
	color: #fff;  margin-right:20px; margin-top:20px
}
.float-login h3{
	height: 62px;
	line-height: 62px;
	overflow: hidden;
	font-size: 28px;
	font-weight: normal; color:#0054a3; font-family:微软雅黑; font-weight:bold; margin-top:22px
}
.login-form{ 

}
.ljdl{ width:280px; height:40px; color:#FFFFFF; background-color:#a00000; border:0px; font-size:18px;border-radius:5px}
.mfzc{ display:inline-block; width:133px; height:40px; text-align:center; line-height:40px; background-color:#5c31d9; font-size:18px; color:#FFFFFF; margin-top:15px;border-radius:5px}
.mfsw{ display:inline-block; width:133px; height:40px; text-align:center; line-height:40px; background-color:#d62a22; font-size:18px; color:#FFFFFF; margin-top:15px; margin-left:5px;border-radius:5px}
.mfzc:hover{	opacity: .9;
	filter: alpha(Opacity=90);}
.mfsw:hover{	opacity: .9;
	filter: alpha(Opacity=90);}
.login-form .input-group{
	position: relative;
	margin-bottom: 10px;
}
.code{ position:absolute; right:10px; top:11px}
.login-form .ipt-lab{
	position: absolute;
	z-index: 9;
	left: 0;
	top: 0;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px; color:#333333;line-height:44px
}
.login-form .ipt-lab i{
	float: left;
	width: 24px;
	height: 24px;
	margin-top: 10px;
	margin-right: 8px; border-right:1px solid #7f7f7f; 
}
.login-form .ipt-lab .icon-user{
	background-position: 0 0px;
}
.login-form .ipt-lab .icon-lock{
	background-position: 0px -55px;
}

.login-form .ipt-lab .icon-yzm{
	background-position: 0px -109px;
}
.login-form .ipt{
	width: 228px;
	padding-left: 40px;
	border: 1px solid #b9b9b9;
	font-size: 14px;
	color: #ffffff;
	background-color: #b9b9b9; height:30px
}








.login-form .btn-group{
	overflow: hidden;
}
.login-form .btn-group .btn,
.float-login .btn-visit{
	color: #fff;
	font-size: 18px;
}
.login-form .btn-group .btn{
	float: left;
	width: 95px;
	height: 30px;
	border-radius: 5px;
	background-color: #0085b7;
}
.login-form .btn-group a.btn{
	width: 105px;
	line-height: 32px;
}
.login-form .btn-group .btn-login{
	margin-right: 12px;
	border-color: #2d8800;
	background-color: #2d8800; width:105px;
	color: #ffffff;
}
.float-login .btn-visit{
	display: block;
	height: 40px;
	line-height: 40px;
	margin-top: 15px;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(top, #eb1919, #c40606);
	background-image: -moz-linear-gradient(top, #eb1919, #c40606);
	background-image: -o-linear-gradient(top, #eb1919, #c40606);
	background-image: linear-gradient(to bottom, #eb1919, #c40606);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb1919', endColorstr='#c40606', GradientType=0); width:224px
}
.float-login .btn-os{
	position: absolute;
	z-index: 9;
	top: 6px;
	right:-80px;
	width: 224px;
	height: 62px;
	line-height: 54px;
	font-size: 13px; font-size:34px; font-family:"Times New Roman", Times, seriff; color:#88ccff
}
.float-ad{
	float: left; margin-top:22px; width:647px; margin-left:22px;
}
.nav{

	height: 33px;
	line-height: 33px;
	overflow: hidden;

	font-size: 14px; text-align:center; 
}
.nav a{

	margin-left: 10px;
	color: #1e242c;  height:23px; display:inline-block;text-align:center; line-height:23px; margin-right:10px
}
.nav a:hover{ background:url(../images/navbg.png) no-repeat}

.nav a:first-child{
	margin-left: 0;
}

.nav a.current,.nav a:hover{
	color: #ffd81f;
}
.fr{ float:right;width:665px; margin-top:50px}
.site-notice{
	position: relative;
	float: right;
	width: 550px;
	height: 18px;
	overflow: hidden;
	padding-left: 95px;

	color: #a5a5a5; 
}
.site-notice h3{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	color: #ffffff;
	font-weight: normal;
}
.site-notice h3 .icon-horn{
	float: left;
	width: 20px;
	height: 18px;
	margin-top: 1px;
	margin-right: 5px; background:url(../images/gg.png) left top no-repeat
}
.notice-list li{
	height: 18px;
	overflow: hidden;
}
.index .footer{

	
	z-index: 9;
	width: 100%;
}
.ie{ display:block; background:url(../images/img2.png) center top  no-repeat; padding-top:85px; text-align:center; margin-top:15px}
.hide{display:none;}
.show{display:block;}
.zlc-model{height:100%;}
.model-content{padding:0 15px;}
.model-content h4,.model-content p{line-height:24px;}
.model-content h4{margin-bottom:5px;font-size:13px;font-weight:normal;color:#98282b;}
.model-content p{margin-bottom:25px;}
.model-content .warn{color:#e43232;}

.zlc-faq .icon-doubt,.jc-aboutus .icon-i{float:left;width:12px;height:13px;margin-top:6px;margin-right:10px;}
.zlc-faq .icon-doubt{background-position:-140px 0;}
.zlc-aboutus .icon-i{background-position:-170px 0;}

.prom-table,.prom-table th,.prom-table td{border:1px solid #b5e2ff;}
.prom-table{margin-bottom:25px;text-align:center;background-color:#fff; width:100%; background-color:#FFFFFF}
.prom-table tr{height:40px;}
.prom-table th,.prom-table td{padding-left:20px;padding-right:20px;}
.prom-table td{color:#e43232;}

.agency-actions{height:40px;line-height:40px;margin-bottom:20px;}
.agency-actions a{width:115px;border-radius:3px;font-size:14px;color:#fff;background-color:#98292b;}
.agency-actions .btn-login{float:left;}
.agency-actions .btn-reg{float:right;}

.agency-login{position:relative;height:475px;margin-top:150px;background:url(../images/agency_login_banner.jpg) no-repeat center;}
.agency-login .user-login{top:70px;}
.agency-login .login-form .ipt{width:150px;}
.agency-login .login-form .btn-login{width:209px;height:50px;margin-top:5px;margin-left:-3px;background-position:0 -280px;}
.agency-login .jc-logo{background:none;}

.layui-layer{border:5px solid #00a8ec;background:url(../images/model_bg.jpg) no-repeat center top #b1e1ff !important;}
.layui-layer-title{padding:30px !important;border-bottom:0 none !important;border-radius:10px !important;font-size:26px !important;font-weight:bold;color:#0066c7 !important;text-align:center;background:transparent !important;   }
.layui-layer-title span{ font-size:14px}
.layui-layer-page .layui-layer-content{background:none}

.layui-layer-setwin{top:15px !important;right:15px !important;}
.layui-layer-setwin .layui-layer-close1{width:30px;height:30px;background:url(../images/close.png) no-repeat!important;}




/*banner*/
.banner .flexslider{position:relative;height:339px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat; overflow:hidden; width:100%; margin:0px auto}
.banner .slides{position:relative;z-index:1; height:339px; overflow:hidden;}
.banner .slides li{height:339px;}
.banner .flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.banner .flex-direction-nav li a{display:block;width:40px;height:76px;overflow:hidden;cursor:pointer;position:absolute;}
.banner .flex-direction-nav li a.flex-prev{left:100px;background:url(../images/left1.png) center center no-repeat ;}
.banner .flex-direction-nav li a.flex-next{right:100px;background:url(../images/right1.png) center center no-repeat ;}

.banner .flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center; display:none}
.banner .flex-control-nav li{display:inline-block;width:20px;height:4px;margin:0 5px;*display:inline;zoom:1;}
.banner .flex-control-nav a{display:inline-block;width:20px;height:4px;line-height:40px;overflow:hidden;cursor:pointer; background-color:#FFFFFF}
.banner .flex-control-nav .flex-active{ background-color:#057bd3}


     input::-webkit-input-placeholder {
       /* placeholder颜色  */
        color: #ffffff;
        /* placeholder字体大小  */
        font-size: 12px;
       /* placeholder位置  */
    
   }
