
<ion-content class="bet-view">
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">冠亚和<span class="jia">+</span></div></div>
	<div class="none">    				
		<div class="row">
			<div class="col col-50 bet ok" data-id="501001"><span class="bet-content">冠亚大</span><span class="bet-item">2.2</span></div>
			<div class="col col-50 bet ok" data-id="501002"><span class="bet-content">冠亚小</span><span class="bet-item">1.77</span></div>
		</div>
	
		<div class="row">
			<div class="col col-50 bet ok" data-id="501003"><span class="bet-content">冠亚单</span> <span class="bet-item">1.77</span></div>
			<div class="col col-50 bet ok" data-id="501004"><span class="bet-content">冠亚双</span> <span class="bet-item">2.2</span></div>
		</div>
	</div>	
	<div class="row text-center" onclick="shhid(this)"><div class="col title">冠军<span class="jia">+</span></div></div>
	
	<div class="none">  
	<div class="row">
		<div class="col col-33 bet ok" data-id="501103"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="501101"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="501105"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="501104"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="501102"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="501106"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>
	</div>  
	<div class="row text-center" onclick="shhid(this)"><div class="col title">亚军<span class="jia">+</span></div></div>
	<div class="none">  
		<div class="row">
			<div class="col col-33 bet ok" data-id="501203"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet ok" data-id="501201"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet ok" data-id="501205"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="501204"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet ok" data-id="501202"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet ok" data-id="501206"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		</div>
	</div>  
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第三名<span class="jia">+</span></div></div>
	<div class="none">  
		<div class="row">
			<div class="col col-33 bet" data-id="501303"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet" data-id="501301"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet" data-id="501305"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet" data-id="501304"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet" data-id="501302"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet" data-id="501306"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		</div>
	</div>  
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第四名<span class="jia">+</span></div></div>
	<div class="none"> 
		<div class="row">
			<div class="col col-33 bet" data-id="501403"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet" data-id="501401"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet" data-id="501405"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet" data-id="501404"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet" data-id="501402"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet" data-id="501406"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		</div>
	</div>  
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第五名<span class="jia">+</span></div></div>
	<div class="none">  
		<div class="row">
			<div class="col col-33 bet" data-id="501503"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet" data-id="501501"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet" data-id="501505"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet" data-id="501504"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet" data-id="501502"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
			<div class="col col-33 bet" data-id="501506"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		</div>
	</div>  
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第六名<span class="jia">+</span></div></div>
	<div class="none">  
		<div class="row">
			<div class="col col-50 bet" data-id="501603"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
			<div class="col col-50 bet" data-id="501601"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet" data-id="501604"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
			<div class="col col-50 bet" data-id="501602"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		</div>
	</div>  
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第七名<span class="jia">+</span></div></div>
	<div class="none">    
		<div class="row">
			<div class="col col-50 bet" data-id="501703"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
			<div class="col col-50 bet" data-id="501701"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet" data-id="501704"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
			<div class="col col-50 bet" data-id="501702"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第八名<span class="jia">+</span></div></div>
	<div class="none">  
	<div class="row">
		<div class="col col-50 bet" data-id="501803"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="501801"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="501804"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="501802"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
</div>  
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第九名<span class="jia">+</span></div></div>
	<div class="none"> 
	<div class="row">
		<div class="col col-50 bet" data-id="501903"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="501901"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="501904"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="501902"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
 </div>  
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第十名<span class="jia">+</span></div></div>
	<div class="none">  
	<div class="row">
		<div class="col col-50 bet" data-id="502003"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="502001"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet" data-id="502004"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="502002"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
	</div>  
</ion-content>