<ion-content class="bet-view">
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">总和、龙虎<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="212701"><span class="bet-content">总和大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="212705"><span class="bet-content">总和小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="212702"><span class="bet-content">总和单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="212706"><span class="bet-content">总和双</span> <span class="bet-item">1.75</span></div>
	</div>
	
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="212703"><span class="bet-content">总和尾大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="212707"><span class="bet-content">总和尾小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="212704"><span class="bet-content">龙</span> <span class="bet-item">1.877</span></div>
		<div class="col col-50 bet ok" data-id="212708"><span class="bet-content">虎</span> <span class="bet-item">1.877</span></div>
	</div>
	 </div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第一球<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="213012"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213013"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="213014"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213015"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>
 </div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第二球<span class="jia">+</span></div></div>
	<div class="none"> 
	<div class="row">
		<div class="col col-50 bet ok" data-id="213112"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213113"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="213114"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213115"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第三球<span class="jia">+</span></div></div>
	<div class="none"> 
	<div class="row">
		<div class="col col-50 bet ok" data-id="213212"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213213"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="213214"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213215"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第四球<span class="jia">+</span></div></div>
	<div class="none"> 
	<div class="row">
		<div class="col col-50 bet ok" data-id="213312"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213313"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="213314"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213315"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第五球<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="213412"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213413"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="213414"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213415"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>
	 </div>
</ion-content>
