
<ion-content class="bet-view">
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">第一球<span class="jia">+</span></div></div>
	<div class="none"> 
	<div class="row">
		<div class="col col-50 bet ok" data-id="1200"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1201"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1202"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1203"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1204"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1205"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1206"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1207"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1208"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1209"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">第二球<span class="jia">+</span></div></div>
	<div class="none"> 
	<div class="row">
		<div class="col col-50 bet ok" data-id="1300"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1301"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1302"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1303"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1304"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1305"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1306"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1307"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1308"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1309"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">第三球<span class="jia">+</span></div></div>
	<div class="none"> 
	<div class="row">
		<div class="col col-50 bet ok" data-id="1400"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1401"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1402"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1403"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1404"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1405"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1406"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1407"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1408"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1409"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">第四球<span class="jia">+</span></div></div>
	<div class="none"> 
	<div class="row">
		<div class="col col-50 bet ok" data-id="1500"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1501"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1502"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1503"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1504"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1505"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1506"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1507"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1508"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1509"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">第五球<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="1600"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1601"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1602"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1603"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1604"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1605"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1606"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1607"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1608"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="1609"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	 </div>
</ion-content>