
<ion-content class="bet-view">	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">总和、龙虎<span class="jia">+</span></div></div>
	<div class="none">  
	<div class="row">
		<div class="col col-50 bet ok" data-id="1101"><span class="bet-content">总和大</span> <span class="bet-item">1.982</span></div>
		
		<div class="col col-50 bet ok" data-id="1102"><span class="bet-content">总和小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1103"><span class="bet-content">总和单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1104"><span class="bet-content">总和双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1105"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1106"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1107"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第一球<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="1210"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1211"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="1212"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1213"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
  </div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第二球<span class="jia">+</span></div></div>
	<div class="none"> 
	<div class="row">
		<div class="col col-50 bet ok" data-id="1310"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1311"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="1312"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1313"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>

 </div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第三球<span class="jia">+</span></div></div>
	<div class="none"> 
	<div class="row">
		<div class="col col-50 bet ok" data-id="1410"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1411"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="1412"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1413"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
 </div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第四球<span class="jia">+</span></div></div>
	<div class="none"> 
	<div class="row">
		<div class="col col-50 bet ok" data-id="1510"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1511"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="1512"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1513"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
 </div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第五球<span class="jia">+</span></div></div>
	<div class="none">  
	<div class="row">
		<div class="col col-50 bet ok" data-id="1610"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1611"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1612"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1613"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	</div>
</ion-content>