<ion-content class="bet-view">
	<div class="row text-center" ><div class="col title-no">冠、亚军 组合</div></div>
	   	
	<div class="row">
		<div class="col col-50 bet ok" data-id="511001"><span class="bet-content">冠亚大</span><span class="bet-item">2.2</span></div>
		<div class="col col-50 bet ok" data-id="511002"><span class="bet-content">冠亚小</span> <span class="bet-item">1.77</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="511003"><span class="bet-content">冠亚单</span> <span class="bet-item">1.77</span></div>
		<div class="col col-50 bet ok" data-id="511004"><span class="bet-content">冠亚双</span> <span class="bet-item">2.2</span></div>
	</div>

	<div class="row">
		<div class="col col-33 bet ok" data-id="511005"><div class="bet-content">3</div><div class="bet-item">42.3</div></div>
		<div class="col col-33 bet ok" data-id="511006"><div class="bet-content">4</div><div class="bet-item">42.3</div></div>
		<div class="col col-33 bet ok" data-id="511007"><div class="bet-content">5</div><div class="bet-item">21.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="511008"><div class="bet-content">6</div><div class="bet-item">21.3</div></div>
		<div class="col col-33 bet ok" data-id="511009"><div class="bet-content">7</div><div class="bet-item">14.3</div></div>
		<div class="col col-33 bet ok" data-id="511010"><div class="bet-content">8</div><div class="bet-item">14.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="511011"><div class="bet-content">9</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="511012"><div class="bet-content">10</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="511013"><div class="bet-content">11</div><div class="bet-item">8.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="511014"><div class="bet-content">12</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="511015"><div class="bet-content">13</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="511016"><div class="bet-content">14</div><div class="bet-item">14.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="511017"><div class="bet-content">15</div><div class="bet-item">14.3</div></div>
		<div class="col col-33 bet ok" data-id="511018"><div class="bet-content">16</div><div class="bet-item">21.3</div></div>
		<div class="col col-33 bet ok" data-id="511019"><div class="bet-content">17</div><div class="bet-item">21.3</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="511020"><span class="bet-content">18</span> <span class="bet-item">42.3</span></div>
		<div class="col col-50 bet ok" data-id="511021"><span class="bet-content">19</span> <span class="bet-item">42.3</span></div>
	</div>
	
</ion-content>