
<ion-content class="bet-view">
	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">冠亚和<span class="jia">+</span></div></div><div class="none">
			    				
	<div class="row">
		<div class="col col-50 bet ok" data-id="511001"><span class="bet-content">冠亚大</span><span class="bet-item">2.2</span></div>
		<div class="col col-50 bet ok" data-id="511002"><span class="bet-content">冠亚小</span><span class="bet-item">1.77</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="511003"><span class="bet-content">冠亚单</span> <span class="bet-item">1.77</span></div>
		<div class="col col-50 bet ok" data-id="511004"><span class="bet-content">冠亚双</span> <span class="bet-item">2.2</span></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">冠军<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-33 bet ok" data-id="511103"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="511101"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="511105"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="511104"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="511102"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="511106"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">亚军<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-33 bet ok" data-id="511203"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="511201"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="511205"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="511204"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="511202"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="511206"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第三名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-33 bet" data-id="511303"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="511301"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="511305"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet" data-id="511304"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="511302"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="511306"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第四名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-33 bet" data-id="511403"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="511401"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="511405"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet" data-id="511404"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="511402"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="511406"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第五名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-33 bet" data-id="511503"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="511501"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="511505"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet" data-id="511504"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="511512"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="511506"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第六名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-50 bet" data-id="511603"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="511601"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="511604"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="511602"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第七名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-50 bet" data-id="511703"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="511701"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="511704"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="511702"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第八名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-50 bet" data-id="511803"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="511801"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="511804"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="511802"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第九名<span class="jia">+</span></div></div><div class="none">
	<div class="row">
		<div class="col col-50 bet" data-id="511903"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="511901"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="511904"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="511902"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">第十名<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet" data-id="512003"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="512001"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet" data-id="512004"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="512002"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
	</div>
</ion-content>