<ion-content class="bet-view">
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">7色波</div></div>
		<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="709601"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="709602"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="709603"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="709604"><span class="bet-content">和局</span> <span class="bet-item">1.982</span></div>
	</div>
	</div>
	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">红球</div></div>
		<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="708704"><span class="bet-content">红单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708705"><span class="bet-content">红双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708706"><span class="bet-content">红大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708707"><span class="bet-content">红小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708716"><span class="bet-content">红大单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708717"><span class="bet-content">红大双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708718"><span class="bet-content">红小单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708719"><span class="bet-content">红小双</span> <span class="bet-item">1.982</span></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">蓝球</div></div>
		<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="708708"><span class="bet-content">蓝单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708709"><span class="bet-content">蓝双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708710"><span class="bet-content">蓝大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708711"><span class="bet-content">蓝小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708720"><span class="bet-content">蓝大单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708721"><span class="bet-content">蓝大双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708722"><span class="bet-content">蓝小单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708723"><span class="bet-content">蓝小双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">绿球</div></div>
		<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="708712"><span class="bet-content">绿单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708713"><span class="bet-content">绿双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708714"><span class="bet-content">绿大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708715"><span class="bet-content">绿小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708724"><span class="bet-content">绿大单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708725"><span class="bet-content">绿大双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="708726"><span class="bet-content">绿小单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708727"><span class="bet-content">绿小双</span> <span class="bet-item">1.982</span></div>
	</div>
	</div>
</ion-content>