<ion-content class="bet-view">
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码一<span class="jia">+</span></div></div>
	<div class="none">
	<div data-title="正码一">
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092052"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092053"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092050"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092051"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092056"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092057"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092054"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092055"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092061"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092062"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="7092058"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="7092059"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="7092060"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	</div>
	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码二<span class="jia">+</span></div></div>
	<div class="none">
	<div data-title="正码二">
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092114"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092115"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092112"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092113"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092118"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092119"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092116"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092117"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092123"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092124"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="7092120"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="7092121"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="7092122"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	</div>
	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码三<span class="jia">+</span></div></div>
	<div class="none">
	<div data-title="正码三">
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092176"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092177"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092174"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092175"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092180"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092181"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092178"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092179"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092185"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092186"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="7092182"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="7092183"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="7092184"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	</div>
	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码四<span class="jia">+</span></div></div>
	<div class="none">
	<div data-title="正码四">
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092238"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092239"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092236"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092237"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092242"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092243"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092240"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092241"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092247"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092248"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="7092244"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="7092245"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="7092246"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	</div>
	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码五<span class="jia">+</span></div></div>
	<div class="none">
	<div data-title="正码五">
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092300"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092301"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092298"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092299"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092304"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092305"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092302"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092303"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092309"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092310"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="7092306"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="7092307"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="7092308"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	</div>
	
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码六<span class="jia">+</span></div></div>
	<div class="none">
	<div data-title="正码六">
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092362"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092363"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092360"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092361"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092366"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092367"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092364"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092365"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="7092371"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="7092372"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row end">
			<div class="col col-33 bet ok" data-id="7092368"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="7092369"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="7092370"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	</div>
</ion-content>