
/*******************************
	用户中心等其它页面相关样式
*******************************/
/* .memberheader {height: 55px;border-bottom: 1px solid #cdcdcd;background-color: #f0f0f0;}
.membersubnavi {position: absolute;top: 12px;right: 0;}
.subnavi {padding: 0 20px;float: left;font-size: 17px;cursor: pointer;}
.subnaviarrow {background-image: url(../images/skin/blue/subnaviarrow.png);background-position: top center;height: 20px;background-repeat:no-repeat;}
 */
.wrap-main {padding: 0; margin: 0}
.wrap-header {border-bottom: 1px solid #cdcdcd;padding: 20px 0 10px 10px;font-size: 18px;background-color: #fde6eb;}
.wrap-title {border-bottom: 1px solid #cdcdcd;padding: 20px 0 10px 20px;font-size: 18px; color: #313131}
.wrap-body {padding: 20px}
.wrap-main .info label {margin-right: 20px;color: #892122}
.wrap-main .form-ul {width: 96%;margin: 0 auto;}
.wrap-main .form-ul li {font-size: 16px;line-height: 30px;color: #898989;margin: 0 0 18px 0;overflow:hidden;}
.wrap-main .form-ul span {display: block;width: 140px;font-size: 18px;color: #313131;text-align: right;float: left;}
.wrap-main select,.wrap-main input {border: 1px solid #b8b8b8;margin: 0 15px 0 0;float: left;width: 300px;height: 30px;font-size: 16px;line-height: 30px;text-indent: 5px;}
.wrap-main .w-small {width: 60px}







div, ul, ol, li, form, img, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, pre, code, form, fieldset, legend, button, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    overflow: hidden;
}

.memberheader {
    height: 140px;
    border-bottom: 1px solid #cdcdcd;
    position: relative;
}

.useravatar {
    width: 84px;
    height: 83px;
    margin: 25px 0 0 25px;
    float: left
}

.memberinfo {
    margin: 22px 0 0 15px;
    width: 475px;
    float: left
}

.memberinfo h1 {
    font-weight: normal;
    margin: 0;
    font-size: 28px
}
.memberinfo p {
    font-size: 12px;
}

.balancevalue {
    margin: 6px 0 0 40px;
}
.membersubnavi {
    position: absolute;
    top: 92px;
    right: 0;
}

.subnavi {
    padding: 0 20px;
    float: left;
    font-size: 17px;
    color: #217eec;
}

.subnavi a {
    color: #777f89;
}

.subnaviarrow {
    margin-top: 5px;
    background-image: url(../images/subnaviarrow.jpg);
    background-position: top center;
    height: 20px;
    background-repeat: no-repeat;
}

.steps {
	height: 130px;
	position: relative;
}

.substeps {
	margin-top: 30px;
	margin-left: 30px;
}

.substepitmgray1 {
	width: 183px;
	height: 25px;
	float:left;
	background-image:url(../images/arrowgray1.png);
	color: #fff;
	padding: 5px 0 0 55px;
}

.substepitmblue1 {
	background-image:url(../images/arrowblue1.png);
}


.substepitmgray2 {
	width: 163px;
	height: 25px;
	float:left;
	margin-left: -4px;
	background-image:url(../images/arrowblue2.png);
	color: #fff;
	padding: 5px 0 0 75px;
}

.substepitmblue2 {
	background-image:url(../images/arrowblue2.png);
}

.line {
	height: 1px;
	position: absolute;
	bottom: 0;
	background-color: #217eec;	
	width: 100%;
}

/****************************************
		提现
***************************************/
.stepswithdraw {
    height: 95px;
    position: relative;
}

.subcontent2 {
    padding-top: 35px;
    padding-bottom: 40px;
    border-top: 1px solid #93BDEE;
}

.logo-th-2 {
    margin: 0 auto;
    width: 48px;
    height: 48px;
    background-position: 0 0;
    display: block;
    background-image: url(../images/bank/warning.png);
}

.th-btn {
    margin-top: 20px;
    text-align: center;
}

.formpanel {
    width: 565px;
    margin: 0 auto;
}

.wd-row {
    margin: 10px 100px;
}

.wd-col1 {
    padding-top: 4px;
    float: left;
    width: 110px;
    min-height: 10px;
    text-align: right;
}

.wd-col2 {
    float: left;
    width: 238px;
    margin-left: 5px;
}

#bankCode {
    padding-left: 2px;
    font-size: 12px;
    width: 160px;
    height: 28px;
    color: #999;
}
.wd-col2 select, .setting-table select {
    padding: 5px 0;
    -webkit-padding-end: 20px;
    border: 1px solid #CCC;
    color: #999;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 -1px 0 0 #CCC;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0 -1px 0 0 #CCC;
    -o-border-radius: 2px;
    -o-box-shadow: 0 -1px 0 0 #CCC;
    -ms-border-radius: 2px;
    -ms-box-shadow: 0 -1px 0 0 #CCC;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #E8E8E8 inset;
    -webkit-appearance: none;
    background: url(../images/dropdown_logo_2.png) no-repeat right #FFF;
}

.textfield1 {
    padding: 0 5px;
    width: 160px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #ccc;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px 0 #E8E8E8 inset;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0 1px 2px 0 #E8E8E8 inset;
    -o-border-radius: 2px;
    -o-box-shadow: 0 1px 2px 0 #E8E8E8 inset;
    -ms-border-radius: 2px;
    -ms-box-shadow: 0 1px 2px 0 #E8E8E8 inset;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #E8E8E8 inset;
}

.radio-bank-2 {
    border: 1px solid #dcdcdc;
    float: left;
    padding: 3px 10px 3px 5px;
}

.radio-bank-2 .radio, .radio-bank-2 .radio-label {
    float: left;
    cursor: pointer;
    color: #333;
}

.radio-bank-2 .radio {
    padding-top: 8px;
}

.radio-bank-2 .radio-label span {
    float: left;
    line-height: 30px;
}
.radio-bank-2 .name {
    margin-left: 5px;
    width: 60px;
}

.tabs {
	position: absolute;
	bottom: 0;
	left: 0;
}

.tabtitle {
	width: 120px;
	height: 30px;
	padding-top: 6px;
	text-align:center;
	float:left;
}

.tab {
	float:left;
	width: 130px;
	height: 28px;
	padding-top: 8px;
	margin-left: 10px;
	border-top: 1px solid #b0b1b1;
	border-left: 1px solid #b0b1b1;
	border-right: 1px solid #b0b1b1;
	border-bottom: 1px solid #217eec;
	text-align:center;
	background-color: #e3e6e8;
	color: #777f89;
	cursor: pointer;
}

.tabactive {
	color: #217eec;
	border-top: 1px solid #217eec;
	border-left: 1px solid #217eec;
	border-right: 1px solid #217eec;
	border-bottom: 1px solid #fff;	
	background-color: #fff;
	cursor: default;
}

.subcontent {
	display: none;
}

.subrow {
	margin: 10px 0;
}

.subrow .subcol1 {
	width: 110px;
	float: left;
	padding-top: 4px;	
	text-align: right;
}

.subrow .subcol2 {
	margin-left: 10px;
	width: 800px;
	float: left;	
}

.textfield1 {
	padding: 0 5px;
    width: 160px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #ccc;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px 0 #E8E8E8 inset;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0 1px 2px 0 #E8E8E8 inset;
    -o-border-radius: 2px;
    -o-box-shadow: 0 1px 2px 0 #E8E8E8 inset;
    -ms-border-radius: 2px;
    -ms-box-shadow: 0 1px 2px 0 #E8E8E8 inset;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #E8E8E8 inset;
}

.text{
	width: 260px;
    height: 18px;
    border: 1px solid #bdc6ca;
    background: #ffffff;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    padding: 9px 5px;
}

.banklist {
	height: 35px;
	float:left;
	border: 1px solid #CEC9C9;
	margin-right: 10px;
	cursor: pointer;
	background-color: #fff;
}

.banklist:hover {
	border: 1px solid #DBE8EC;
}

.banklistimg {
	float: left;
	margin: 8px 0 0 5px;
}


.bankradiobtn {
	float:left;
	margin: 12px 0 0 7px;
}



.submitbtn {
	border: 1px solid #a2a2a2;
	background-color: #fff;
	color: #a2a2a2;
	padding: 7px 20px;
	cursor:pointer;
}

.submitbtn:hover {
	border: 1px solid #a2a2a2;
	background-color: #a2a2a2;
	color: #fff;
}

.banklist2 {
	width: 170px;
	height: 40px;
	float:left;
	border: 1px solid #CEC9C9;
	margin-right: 10px;
	cursor: pointer;
	position: relative;
	background-color: #fff;
}

.banklistimg2 {
	float: left;
	margin: 5px 0 0 5px;
}

.banklist2:hover {
	border: 1px solid #DBE8EC;
}

.bankradiobtn2 {
	float:left;
	margin: 12px 0 0 7px;
}

.bankflag {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 2px;
	background-color:#cccccc;
	font-size: 12px;
}

.c-button {
    width: 122px;
    height: 36px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
	background-color: #EDA220;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    font-family: inherit;
    padding: 0 16px;
    text-decoration: none;
}

.c-button:hover, .c-button:focus {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
.c-button:focus {
    outline: 0 none;
}

.transaction-setting-container table{
	width: 100%;
	color: #787878;
	padding: 10px 0 20px;	
	/*border: 1px solid #e5e5e5;*/
}

.transaction-setting-container table input{
	height: 25px;
	float: left;
	margin-top: 3px;
	margin-right: 5px;
	margin-left: 5px;
	color: #222;
	text-align: center;
	width: 122px;
}

.transaction-setting-container table div.date{
	margin-right: 10px;
}

.transaction-setting-container table div.date img{
	margin-top: 3px;
	margin-left: 6px;
}

.transaction-setting-container table a{
	color: #787878;
}

.setting-table tr td{
	padding: 5px;
}

.setting-table tr td:first-child{
	width: 115px;
	text-align: right;
}

.setting-table tbody tr td div{
	width: 170px;
	height: 33px;
	border: 1px solid #d5d5d5;
}

.setting-table tbody tr td div.date{
	float: left;
}

.setting-table tbody tr td div.search{
	border: 1px solid #d5d5d5;
	background-color: #fff;
	width: 180px;
}

.setting-table tbody tr td div.search input{
	float: left;
	margin-top: 3px;
	color: #222;
	background-color: #fff;
	width: 122px;
}

.setting-table tbody tr td div.search .btn{
	margin-top: 3px;
}

.setting-table tbody tr td ul li{
	padding: 5px 15px;
	margin-right: 5px;
	float: left;
}

.setting-table tbody tr td ul li.active{
	background-color: #0b8fff;
}

.setting-table tbody tr td ul li.active a{
	color: #fff;
}

.alignRight{
	text-align: right;
}

.duration-setting-container{
	width: 100%;
	padding: 5px 50px;
}

.duration-setting-container ul li{
	padding: 5px 15px;
	float: left;
	margin-right: 10px;
}

.duration-setting-container ul li.active{
	background-color: #0b8fff;
}

.duration-setting-container ul li.active a{
	color: #fff;
}

.records{
	padding: 0px 5px;
}

.records table{
	width: 100%;
	border-collapse: collapse !important;
}

.records table th{
	padding: 10px 0;
	font-weight: lighter;
	border: 1px solid #777f89;
	background-color: #777f89;
	color:#fff;
}

.records table td{
	font-size: 12px;
	color: #777f89;
	text-align: center;
	padding: 10px 10px;
}

.records table td a{
	color: #0b8fff;
}

.records table td a:hover{
	text-decoration: underline;
}

.records table tr td:first-child, .records table tr th:first-child{
	width: 40px;
}

.banklist i {
    margin: 0 6px 0 8px;
    margin-top: 9px;
    vertical-align: -4px;
    display: inline-block;
}

.ico-icbc, .ico-cmb, .ico-ccb, .ico-abc, .ico-boc, .ico-spdb, .ico-sdb, .ico-cib, .ico-bob, .ico-cebb, .ico-boco, .ico-cmbc, .ico-cccb, .ico-gdb, .ico-pingan, .ico-post, .ico-union, .ico-jsb, .ico-srcb, .ico-hkb, .ico-nbcb, .ico-njcb, .ico-bosh, .ico-hxb, .ico-hzb, .ico-hkbea, .ico-ordos, .ico-cbhb, .ico-jzb, .ico-gdrcu, .ico-nccb, .ico-glccb, .ico-bsb, .ico-ynrcc, .ico-gzcb, .ico-cqrcb, .ico-zjcb, .ico-spdb, .ico-pingan, .ico-bccb, .ico-bos,.ico-brcb {
    margin: 0 6px 0 8px;
    background: url(../images/bank/bank_ico.png) no-repeat;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 3px;
    _margin-top: 4px;
    vertical-align: -4px;
}



.ico-zfb {
    background: url(../images/bank/ZFB_s.jpg) no-repeat;
    width: 25px;
    height: 25px;
    margin-top: 3px !important;
}

.ico-weixin {
    background: url(../images/bank/WEIXIN_s.jpg) no-repeat;
    width: 27px;
    height: 25px;
    margin-top: 3px !important;
}

.ico-cft {
    background: url(../images/bank/CFT_s.jpg) no-repeat;
    width: 35px;
    height: 25px;
    margin-top: 5px !important;
}

.btn-captcha {
    padding: 0 10px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    border: 1px solid #dddddd;
    background: #f4f4f4;
    cursor: pointer;
    color: #555;
}

.ico-icbc {
    background-position: 0 0;
}
.ico-cmb {
    background-position: -18px 0;
}
.ico-ccb {
    background-position: -36px 0;
}
.ico-abc {
    background-position: -54px 0;
}
.ico-post {
    background-position: -18px -18px;
}
.ico-pingan {
    background-position: 0 -36px;
}
.ico-sdb {
    background-position: -108px -18px;
}
.ico-gdb {
    background-position: -72px -18px;
}
.ico-bosh {
    background-position: 0 -54px;
}
.ico-bob {
    background-position: -126px -18px;
}
.ico-boco {
    background-position: -36px -18px;
}
.ico-cmbc {
    background-position: -90px -18px;
}
.ico-cbhb {
    background-position: -108px -54px;
}
.ico-hkbea {
    background-position: -54px -54px;
}
.ico-nbcb {
    background-position: -90px -36px;
}
.ico-cccb {
    background-position: -126px 0;
}
.ico-bjrcb {
    background-position: -32px 0;
}
.ico-hxb {
    background-position: -18px -54px;
}
.ico-cz {
    background-position: 0 0;
}
.ico-hzb {
    background-position: -36px -54px;
}
.ico-boc {
    background-position: -72px 0;
}
.ico-cebb {
    background-position: -90px 0;
}
.ico-cib {
    background-position: 0 -18px;
}
.ico-spdb{
	background-position: -54px -18px;
}
.ico-pingan{
	background-position: 0px -36px;
}
.ico-bccb{
	background-position: -126px -18px; 
}
.ico-bos{
	background-position: 0px -54px;
}
.ico-brcb{
	background-position: -110px -90px;
}

.trcolor{
	background-color: #F0F0F1;
}



.search-bar {margin-top: 10px;padding: 10px 5px;}

.search-bar li {float: left; margin-right: 5px; color: #787878; line-height: 25px}

.search-bar select {
    height: 26px;
    padding: 0 5px;
    -webkit-padding-end: 20px;
    border: 1px solid #CCC;
    color: #999;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #E8E8E8 inset;
    -webkit-appearance: none;
    background: url(../images/dropdown_logo_2.png) no-repeat right #FFF;
}

.search-bar input {
    padding: 0 5px;
    width: 100px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #ccc;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #E8E8E8 inset;
}

.search-bar .btn {
    font-size: 14px;
    text-align: center;
    background-color: #777f89;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    font-family: inherit;
    padding: 0 10px;
    text-decoration: none;
    height: 26px;
    cursor: pointer;
}