@charset "utf-8";
/* CSS Document 
Use for:
Version:	1.01
Date:		2015/10/31
Author:		nikon	
Update:		
*/

/* CSS Reset */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img,strong, b, u, i, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td, input, blockquote{ padding: 0; margin: 0;}
table { border-collapse: collapse; border-spacing: 0;}
fieldset, img { border: 0;}
img{ -ms-interpolation-mode: bicubic;}
input,select,textarea{ font-family: Arial,Helvetica,sans-serif;}
ol, ul{ list-style: none;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;}

/* bass css */
body{ font:12px/1.5 '\5FAE\8F6F\96C5\9ED1','\5b8b\4f53',Arial, Helvetica, sans-serif; overflow-y: hidden;}
.wrap{ position:relative; /*width:1106px;*/}
.sub-wrap{ min-width:800px;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{ *zoom:1;}
.pr{ position:relative;}
.dib{ display:inline-block;}
.hdn{ display:none;}
.vm{ vertical-align:middle;}
.t-left{ text-align:left;}
.t-center{ text-align:center;}
.t-right{ text-align:right;}
.fl{ float:left;}
.fr{ float:right;}
.db{ display:block;}
.main-body { min-width:1230px; }
.iframe-body {overflow-x: hidden;overflow-y: auto;background-color: #fff;display: none;}

/* link css */
a{ text-decoration:none;}
a:hover{ text-decoration:none;}

/* 试玩元素 css */
.trial-cls { display: none}

/* icon css */
.icon{ display:inline-block; vertical-align:middle; overflow:hidden; background:url(../images/icon-sprites.png) no-repeat 0 0; _background-image:url(../images/ie6-icon-sprites.png);}
.icon1{ width:16px; height:8px;}
.icon2{ width:18px; height:18px; background-position:0 -9px;}

/* btn css */
.u-btn1{ display:inline-block; width:56px; height:30px; line-height:28px; text-align:center; background:url(../images/btn-sprites.png) no-repeat 0 0; vertical-align:middle; color:#310a07; border-radius:5px; font-size:12px; cursor:pointer;}
.u-btn1:hover{ background-position:0 -30px; text-decoration:none;}
.u-btn{ display:inline-block; vertical-align:middle; cursor:pointer; overflow:hidden; border:none;}
.u-btn2{ width:324px; height:63px; line-height:60px; text-align:center; background:url(../images/btn-sign.png) no-repeat 0 0; font-size:20px; color:#fff;}
.u-btn2:hover{ text-decoration:none;}
.u-btn17,.u-btn5,.u-btn6{ min-width:55px; padding:0 5px; height:20px; line-height:20px; vertical-align:top; text-align:center; background:#dd4814; color:#fff;}
.u-btn5,.u-btn6{ min-width:100px; height:30px; line-height:30px; border-radius:3px;}
.u-btn6{ background:#aea79f;}
.u-btn17:hover{ text-decoration:none;}

/* color css */
.c-txt1{ color:#ffc80a;}
.c-txt2{ color:#2be200;}
.c-txt3{ color:red;font-family: Verdana, Arial, Helvetica, sans-serif;padding: 0xp 4px}

/* font css */
.fs-1{ font-size:14px;}

/* form css */
.u-ipt1{ width:138px; height:18px; line-height:18px; padding:3px 5px; vertical-align:middle; border:1px solid #af3230; background:#fff;}

.u-ipt2{ width:220px; height:16px; line-height:16px; padding:10px; vertical-align:middle; border:1px solid #abadb3; background:url(../images/bg-sprites2.png) repeat-x 0 -144px;}
.u-ipt3{ width:220px; height:17px; line-height:16px; padding:6px; vertical-align:middle; border:1px solid #abadb3; background:url(../images/bg-sprites2.png) repeat-x 0 -144px;}
.u-ipt2-1{ width:88px;}
input{ font-family:'\5FAE\8F6F\96C5\9ED1';}


/******************************
		  header
******************************/
.header {bottom: auto;height: 135px;color: #FDE6EB;min-width: 1225px;}
.header .menu1 {float: left;height: 52px;margin-left: 200px;width: 538px;}
.header a {color: #FFFFFF;text-align: center;}

.menu1 .draw_number {height: 50px;display: inline-block;float: left;margin-left: 44px;margin-right: 10px}
.menu1 .draw_number div {height: 22px;line-height: 22px;text-align: center;}
.header .menu2 {float: left;margin: 5px 14px 0;line-height: 22px;}
.header .menu2 span {padding: 0 5px}
.header .menu2 > span > a {width: 5em;}
.header .menu3 a {float: left;margin: 23px 8px 0;line-height: 22px;width: 70px;height: 25px;}
.header .menu4 a {float: left;margin: 23px 8px 0;line-height: 22px;background-image: url("../images/support.png");width: 70px;height: 25px;}
.header .lotterys {height: 46px;line-height: 57px;margin-left: 2px;margin-top: 0;padding-left: 0;}
.header .lotterys .show {float: left;}
.header .lotterys a {color: #f9f9f9;display: inline-block;float: left;font-weight: bold;height: 46px;margin: 0;text-align: center;cursor: pointer;}
.header .lotterys a:hover {color: #ff0;}
.header .lotterys a span {display: block;height: 46px;width: 117px;}
.header .lotterys .selected {background: url("../images/nav_hover.png") no-repeat scroll 4px 0;color: #ffff00;}
.header .lotterys .setting {background: url("../images/setting.png") no-repeat scroll 10px 18px;cursor: pointer;left: 1054px;padding-left: 35px;position: absolute;}
.header .lotterys .home {background: url("../images/home.png") no-repeat scroll 10px 18px;cursor: pointer;left: 1108px;margin-left: 15px;padding-left: 35px;position: absolute;}

.header .sub {color: #fff;height: 36px;line-height: 36px;padding-left: 188px;}
.header .sub a {color: #fff;padding: 0 0.5em;}
.header .sub a:hover, .header .sub .selected {color: #ffff00;font-weight: bold;}

.header .icon-new {position: relative;right: -19px;top: -63px;}
.icon-new {background-repeat: no-repeat;overflow: hidden;border: none;background-image: url("../images/icon_new.png");display: inline-block;vertical-align: middle;font-style: normal;background-position: 0px 0px; width: 30px; height: 18px;}


/******************************
			sidebar
******************************/
.siderbar{ float:left; width: 190px; bottom: 27px;top: 135px;text-align: center;}
.side_left {}
.side_left ul {list-style: outside none none;margin: 0;padding: 0;}
.side_left p {display: block;line-height: 18px;margin: 0;white-space:nowrap;}
.side_left {margin-bottom: 5px;}
.side_left .title {color: #fff;font-weight: bold;height: 33px;line-height: 33px;margin-top: 4px;margin-left: 6px;text-align: center;}
.side_left .info {clear: both;overflow: hidden;}
.side_left .info span, .side_left .info label {display: block;float: left;height: 22px;line-height: 24px;text-indent: 10px;}
.side_left .info label {text-align: right;width: 6em}
.side_left .title a {color: #fff;}
.side_left .title a:hover {color: red;}
.new_user_notice_msg { 
	height: 11px;
    width: 27px;
	background-image: url("/static/images/msg_new2.png");
    background-repeat: no-repeat;
    display: inline-block;
    font-style: normal;
    float:right;
    margin: 3px 12px 0 27px;
    position:absolute;
    overflow: hidden;
    vertical-align: middle;}
#left_user_new_notice{
	vertical-align: middle; cursor:pointer;margin: 0px 0px 22px 6px;width:27px;height:11px;display: none;
}

.sider-col1{ padding:10px 0px 5px 0px; line-height:1.8; text-align:center; font-size:13px; color:#f79789;}
.sider-col1 dt{ color:#f5e8c4;float: left}
.sider-col1 dd{ float: left}
.sider-col1 .info{ color: #fff}
.sider-col2{ margin: 0 1px}


/******************************
		    main
******************************/
.main{ margin-bottom:10px; overflow:hidden;}
.logo2 {left: 7px;position: absolute;top: 5px;width: 190px;}
.logo a{ display:block; height:100%; color:#fff; font-size:20px; text-decoration:none;}
.logo img{ max-width:100%;}
.service{ display:block; margin-bottom:20px; text-align:center;}
.service img{ vertical-align:top;}
.u-table1{ width:100%; table-layout:fixed; text-align:center;}
.u-table1 th{ height:26px; background:#e0cec8; font-size:12px; color:#310a07;}
.u-table1 td{ padding:2px;}
.guide-list{ margin-left:2px;}
.guide-list li{ float:left; width:105px; height:28px; line-height:28px; margin:0 0 -1px -1px; background:url(../images/skin/red/bg-sprites.png) repeat-x 0 -88px; text-align:center; border:1px solid #c6c6c6;}
.guide-list li a{ display:block; color:#310a07; text-decoration:none;}
.content{ overflow:hidden; font-size:13px;}
.subnav-box{ height:40px; line-height:40px; background:#450601 url(../images/skin/red/bg-sprites.png) repeat-x 0 0;}
.subnav-box li{ position:relative; float:left; border-right:1px solid #2e0402;}
.subnav-box li a{ display:block; padding:0 17px; border-right:1px solid #660901; color:#f5e8c4;}
.subnav-box li.cur a,.subnav-box li.cur a:hover{ background:#9a0706;}
.subnav-box li a:hover{ text-decoration:none; background:#660901;}
.subnav-item{ height:30px; line-height:30px; background:#9a0706;}
.subnav-item a{ padding:0 17px; line-height:24px; margin-left:-1px; border-left:1px solid #7d0609; color:#310a07;}
.subnav-item a.cur,.subnav-item a:hover{ color:#ffc80a; text-decoration:none;}
.subnav-box .more{ padding:0 17px; color:#fff; cursor:pointer;}
.arrow{ display:inline-block; vertical-align:middle; margin-left:5px; margin-top:3px; width:0; height:0; overflow:hidden; border-style:solid; border-width:5px; border-color:#fff transparent transparent transparent; _border-style:solid dashed dashed dashed;}
.subnav-box li.other{ padding:0 5px;}
.subnav-box li.other:hover{ text-decoration:none; background:#660901;}
.more-extend{ display:none; position:absolute; left:-1px; top:56px; width:100%; background:#660901; border:1px solid #660901;}
.subnav-box li .more-extend a{ display:block; height:34px; line-height:34px; padding:0 10px; border:none; white-space:nowrap;}
.subnav-box li .more-extend a:hover{ background:#9e040a;}


.cont-main{ overflow:hidden; _margin-left:-6px; width: 765px; float: left;}
.cont-box1{ margin-top:12px;}
.cont-col1,.cont-col2{ float:left; width:44%; height:116px; background:#892122; color:#f5e8c4;}
.cont-col2{ float:right; width:55%;}
.cur-term{ position:relative;}
.cur-term dt{ position:absolute; left:26px; top:20px; font-size:20px; color:#fff;}
.cur-term dt span{ color:#ffc80a;}
.cur-term .cur-term-col1{ height:66px; padding:13px 0 0 185px; line-height:24px; border-bottom:1px solid #9b2727;}
.cur-term .cur-term-col2,.next-term .next-term-col2{ line-height:36px; padding:0 18px 0 26px; overflow:hidden; border-top:1px solid #6f0c0d;}
.next-term dt,.next-term dd{ padding-left:20px;}
.next-term dt{ height:30px; line-height:30px;}
.next-term .next-term-col1{ height:46px; padding-left:/*4px*/2%; padding-top:3px; font-size:0; white-space:nowrap; border-bottom:1px solid #9b2727; *letter-spacing:-1px;}
.next-term .next-term-col2{ padding-left:20px; color:#fff;}
.cont-col3{ margin-top:5px; padding:0 5px 10px;}
.cont-col3-hd{ padding:8px 0; color:#310a07;}
.cont-col3-box1{ float:left; width:222px; padding-left:10px;}
.cont-col3-box1 a{ display:inline-block; height:20px; line-height:20px; padding:0 7px; vertical-align:middle; background:#fbdada; color:#310a07; border:1px solid #af3230; border-radius:3px;}
.cont-col3-box1 a:hover{ background:#f9b1b0; text-decoration:none;}
.cont-col3-box1 a.cur{ background:#f59593;}
.u-table2{ width:100%; text-align:center;}
.u-table2 thead th{ height:28px; font-size:13px;}
.u-table2 thead th.select{ background-position: 0 -59px;font-weight: bold;}
.u-table2 td{ height:26px; background:#fff; font-size:13px; cursor:pointer}
.u-table2 .name {width: 60px; min-width: 40px; font-weight:bold; }
.u-table2 .amount{ width: 65px}
.u-table2 .amount > input{ width: 85%; min-width: 50px; height: 15px; }
.u-table2 .odds{ width: 50px; font-weight:bold;}
.u-table2 .qiu{ text-align: left; padding-left: 10px}
.bet-money {width: 70px; height: 18px;}

.u-table6{ width:100%; text-align:center; table-layout:fixed;}
.u-table6 thead th{ height:30px; border:1px solid #eac0bf; background:#ffbdb9 url("../images/table_headerbg.gif") repeat-x scroll left top; font-size:14px;color: #892122;}
.u-table6 thead th.select{ background:#fbbfbe;}
.u-table6 td{ height:34px; border:1px solid #daa4a3; background:#fff; font-size:14px; font-weight:bold; color:#892122;cursor:pointer}

.cont-list1{ margin:10px -2px 0 -2px; width: 760px}
.cont-list1 li{ float:left; /*width:135px;*/ width:19.6%; margin-right:.5%}
.cont-list1 li:last-child {margin-right:0}
.cont-list1 > tbody > tr > td {padding: 0 2px;}

.cont-btnbox1{ padding:20px 0; text-align:center;}
.u-table3{ width:100%; table-layout:fixed; border:1px solid #eac0bf; border-bottom:none;}
.u-table3 th{ height:39px; font-size:16px; color:#310a07;}
.u-tb3-th2{ cursor:pointer}
.u-table4{ width:100%; table-layout:fixed; text-align:center;}
.u-table4 td{ height:28px; background:#fff; }
.cont-col3-box2{ text-align: center;}

.cont-sider{ float:left; width:180px;}
.sider-box1-hd,.sider-box1-bd,.sider-box1-ft{ background-color:#ECECEC}
.sider-box1-hd{ height:42px; line-height:42px; padding:0 18px; font-size:14px; color:#fff;}
.sider-box1-bd{ background-position:-180px 0; background-repeat:repeat-y;}
.sider-box1-ft{ height:14px; background-position:-360px bottom;}
.u-table5{ width:100%; }
.u-table5 .statFont{ color: red}
.u-table5 th,.u-table5 td{ height:23px; padding:0 5px; text-align:left; font-size:12px;border: 1px solid #daa4a3;font-weight: normal;color: #4f4d4d}
.u-tb5-tr1{ background:#f7ebeb;}
.count-wrap {padding: 0px 5px 5px;}

/******************************
		  announce
******************************/
.announce{ position:fixed; left:0; bottom:0; width:100%; height:30px; line-height:30px; overflow:hidden; font-size:14px;}
.announc3-hd{ position:absolute; left:0; top:0; width:134px; height:30px; text-indent:-999px; overflow:hidden;}
.announce a{ color:#fff;}
.announce a:hover{ color:#fee77d;}
.announce-list{ position:relative; height:100%; overflow:hidden; padding-left:90px; font-size:14px;}
.announce-list ul{ position:absolute;}
.announce-list li{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

/******************************
             分页
******************************/
.page a{ display:inline-block; width:28px; height:28px; line-height:28px; margin:0 2px; text-align:center; vertical-align:middle; border:1px solid #e2e1e1; background:#fff; font-size:14px; font-family:arial; color:#4c4c4c;}
.page a:hover,.page a.cur{ background:#ff3e3e; border-color:#ff3e3e; color:#fff; text-decoration:none;}
.page .page-prev,.page .page-next{ width:auto; padding:0 10px;}
.page span,.page .ipt-page{ margin:0 2px; vertical-align:middle;}
.page .ipt-page{ width:28px; height:18px; padding:5px 0; text-align:center; border:1px solid #e2e1e1; background:#fff;}
.page .disabled,.page .disabled:hover{ background:#fff; border-color:#e2e1e1; color:#e2e1e1; cursor:default;}

/******************************
			自定义
/******************************/
.u-table4 td.f1 {background-color: #fff}
.bg_td{background-color: #f7ebeb!important};
.mg_top10{margin-top: 10px!important;};
.u-table9 { width:100%; table-layout:fixed; text-align:center;}
.u-table9 td{ height:39px; border:1px solid #eac0bf; background:#fff; font-size:14px; color:#892122;}
.u-table9 { width:100%; text-align:center; table-layout:fixed;}
.u-table9 thead th{ height:30px; border:1px solid #eac0bf; background:url(../images/skin/red/bg-sprites.png) repeat-x 0 -58px; font-size:14px;border-top: none;}
.u-table9 th.cur{ background:url(../images/skin/red/bg-sprites.png) repeat-x 0 -86px;}
.u-table9 td{ height:41px; border:1px solid #daa4a3; background:#fff; font-size:14px; font-weight:bold; color:#892122;}

.u-table10{ width:100%; table-layout:fixed; text-align:center;}
.u-table10 td{ height:39px; border:1px solid #eac0bf; background-color:#fff; font-size:14px; color:#892122;}
.u-table10{ width:100%; text-align:center; table-layout:fixed;}
.u-table10 thead th{ height:30px; border:1px solid #eac0bf; background-color:#E57388; font-size:14px;border-top: none; color: #fff}
.u-table10 td{ height:30px; border:1px solid #daa4a3; background:#fff; font-size:14px; font-weight:bold; color:#892122;}
.bg_yellow{background-color: #ffc214!important}
.td_f1{color: #e6b3be}
.hide{display: none;}
.show{display: block;}
.fwb{font-weight: bold;}
.pl5{padding-left: 5px;}
.ml10{margin-left: 10px}
.ml15{margin-left: 15px}
.ml20{margin-left: 20px}
.mt5{margin-top: 5px}
.mt10{margin-top: 10px}
.mr15{margin-right: 15px}
.mb10{margin-bottom: 10px}
.mr1{margin-right: 1px}
.mr2{margin-right: 2px}
.not-event{cursor:auto!important} 
.u-ipt1-disable{background:#e3e3d3!important;}
.checkbox_td > input {cursor: pointer;}
.radio_td {cursor: pointer;}

.tab {padding: 0;width: 100%; height: 70px;}
.tab li {list-style: outside none none;margin: 0;}
.tab_title02 {height: 29px;line-height: 29px;}
.tab_title02 a {
    background: url("../images/skin/red/tab_bg10.png") no-repeat scroll left -29px;
    color: #7d7d7d;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 29px;
    margin: 5px 5px 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 white;
    width: 88px;
}
.tab_title02 a:hover, .tab_title02 .on {
    color: #98292e;
    font-weight: bold;
}

.multiple ul {background: white none repeat scroll 0 0;border: 1px solid #000;margin: 0;padding: 5px;position: fixed;width: 300px;text-indent:1em;}
.multiple li {float: left;font-size: 12px;}
.multiple li .nums {color: blue;}
.multiple li .xu {color: #892122;}

.bet-bottom {
    border: 1px solid #daa4a3;
}
.bet-bottom span {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
.bet-bottom .bcount {
    border-right: 1px solid #daa4a3;
    width: 127px;
}
.bet-bottom .btotal {
    width: 254px;
}

.font_red{
	color: red;
}
.font_blue{
	color: #2836f4;
}
.font_green{
	color: #22bd1e
}

.record-box { padding:10px; width: 980px}
.record-box .u-table2{ table-layout:auto;}
.record-box .u-table2 td{ padding:5px; font-weight:normal; font-size:12px !important;}

.rule-box { margin: 10px; width:900px; }
.member-info{ margin:10px; width:880px; }
.member-info .u-table2 td,.cp-box1 .u-table2 td,.cp-box2 .u-table2 td{ font-size:12px; font-weight:normal;}
.cp-box1{ padding:10px; width: 880px}
.cp-box2{ padding:10px; width: 1030px}
.history-main {background: none;overflow-x:hidden;min-width:auto;}


#page_name{font-size: 14px;font-weight: normal;color: #1200ff;}
#total_sum_money_text{font-size: 14px;font-weight: normal;color: red;}
#next_turn_num{color: #892122;font-weight: bold;}
#bet-date{font-weight: bold;color: #009944}
#open-date{font-weight: bold;color: #892122}

#lastBets {display: none}
#lastBets .bets {
    border-left: 1px solid #e6b3be;
    border-right: 1px solid #e6b3be;
    color: black;
    max-height: 300px;
    overflow-y: auto;
    text-indent: 5px;
    text-align: left;
}
#betResultPanel li {
    background: white none repeat scroll 0 0;
    border-top: 1px solid;
    padding: 1px;
}
#lastBets li {
    background: white none repeat scroll 0 0;
    padding: 1px;
}
#lastBets li:nth-child(2n) {
    background: #efefef none repeat scroll 0 0;
}
.side_left .bets .bid {
    color: #119400;
}
.side_left .bets .text {
    color: #0017c7;
}
.side_left .bets .odds {
    color: red;
    font-family: Arial,Helvetica,Verdana,Geneva,sans-serif;
    font-weight: bold;
}
#lastBets .bets {
    border-left: 1px solid #e6b3be;
    border-right: 1px solid #e6b3be;
    color: black;
    max-height: 230px;
    overflow-y: auto;
    overflow-x:hidden;
    text-indent: 5px;
}

.skinbtn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 100px;
    height: 30px;
    margin: 0 5px
}

.pop-detail {padding: 20px}
.pop-detail p {font-size: 14px; line-height: 25px}

/********************************
	弹出框layer自定义样式
********************************/
.demo-class .layui-layer-title{background: url("../images/skin/red/bg-sprites.png") repeat-x scroll 0 -58px;border: 1px solid #eac0bf;font-size: 16px;color:#892122;font-weight:bold;height: 30px;line-height:30px}
.demo-class .layui-layer-setwin .layui-layer-close1 {background-position: 2px -42px;cursor: pointer;}    
.demo-class .layui-layer-btn{ text-align: center;}
.demo-class .layui-layer-btn a{ background: url("../images/btn-bg.png");border: medium none;color: #fff;height: 25px;letter-spacing: 3px;line-height: 25px;margin-right: 5px;width: 66px;}


/******************************
		    弹窗
******************************/
.mask{ display:none; position:fixed; z-index:998; width:100%; top:0; bottom:0; background:#000; opacity:.5; filter:alpha(opacity=50); _position:absolute; _height:expression(documentElement.scrollHeight + "px");}
.pop{ display:none; position:fixed; z-index:999; left:50%; top:50%; padding:20px; background:#fff; color:#716b6d; font-size:14px; _position:absolute; _top:expression(documentElement.scrollTop + 400 + "px");}
.pop1{ width:788px; padding-bottom:20px; margin:-240px 0 0 -394px;}
.pop2{ width:430px; padding:0; margin:-124px 0 0 -215px; border-top:2px solid #ff3e3e;}
.pop2-box1{ padding:60px 50px 30px;}
.pop2-box1-bd{ min-height:106px; padding-bottom:20px; _height:106px;}
.pop2-ft{ text-align:right;}
.pop2-ft a{ margin-left:10px;}
.pop2-tt{ height:48px; line-height:48px; border-bottom:1px solid #c2c2c2; text-align:center; font-size:14px;}
.pop2-box2{ padding:0 30px 30px;}
.pop2-box2-hd{ line-height:44px;}
.pop2-box2-bd{ padding:30px 0;}
.pop2-ipt-box{ padding-bottom:28px; margin-right:-20px;}
.pop2-ipt-box input{ width:39px; height:19px; padding:10px 0; margin-right:20px; border:1px solid #c2c2c2; text-align:center;}
.pop2-box2-txt1{ line-height:38px;}
.pop-hd{ position:relative; height:50px; line-height:50px; margin-bottom:30px; border-bottom:1px solid #e3e3e3; font-size:20px; font-weight:normal;}
.btn-pop-close{ position:absolute; right:-5px; top:-5px; line-height:1; color:#4c4c4c; font-size:20px; font-family:'\5b8b\4f53';}
.btn-pop-close:hover{ text-decoration:none; color:#f03838;}
.pop-tips{ position:fixed; z-index:999; right:0; bottom:0; width:260px; padding:1px; background:#fff; border:1px solid #af3230; font-size:14px; _position:absolute; _top:expression(documentElement.scrollTop + 400 + "px");}
.pop-tips-hd{ height:30px; line-height:30px; padding:0 10px; background:#c03634; color:#fff;}
.pop-tips-bd{ padding:5px 10px; min-height:120px; font-size:12px;}
.btn-pop-close{ position:absolute; right:10px; top:6px; line-height:1; color:#000; font-size:18px; font-family:'\5b8b\4f53';}
.btn-pop-close:hover{ text-decoration:none;}
.pop4{ width:800px; margin:-250px 0 0 -400px;}
.pop4-hd{ text-align:center; color:#000; font-size:16px; margin-bottom:10px;}
.pop4-bd{ height:450px; padding:10px; overflow-y:auto;}


/********************************
	皮肤切换样式
********************************/
#skinPanel {display: inline-block; color: #fff; cursor: pointer;}
#skinPanel ul {padding: 0 0 10px 0;margin-left: -5px;list-style: none;position: absolute;width: 58px;z-index: 999;}
#skinPanel ul li {padding: 0 6px;height: 20px;line-height: 20px;clear: both;}
#skinPanel i {float: left;display: inline-block;border: 1px solid #ffc8c8;height: 9px;width: 9px;margin-top: 7px;}
#skinPanel ul a {margin-left: 5px; color: #EBEFF5; display: inline-block; text-align: center;}

/*封盘样式*/
input:disabled{border:1px solid #DDD;background-color:#F5F5F5;color:#bebdbd;}

.table-td-valign-top td{vertical-align:top}

.menu1 .open_sound {
    background: url(../images/sound.png) no-repeat;
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 5px 33px 0 0;
}

.menu1 .close_sound {
    background: url(../images/sound-close.png) no-repeat;
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 5px 33px 0 0;
}


.skin_blue .u-btn1{
    background: 0 none;
    background: linear-gradient(to bottom, #5b8ac7 0%,#2765b5 100%);
    color: #fff;
    height: 24px;
    line-height: 24px;
    position: relative;
    top: -2px;
}

.skin_red .u-btn1{
    background: 0 none;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(216, 124, 134) 0%, rgb(199, 94, 114) 100%) repeat scroll 0 0;
    color: #fff;
    height: 24px;
    line-height: 24px;
    position: relative;
    top: -2px;
}

.skin_blue #bet_tab .u-table2 thead th{
	  background: #e0e0e0!important;
	 
	 color: #4F4D4D!important;
}

.skin_red #bet_tab .u-table2 thead th{
	 background: #e0e0e0!important;
	
	 color: #762d08!important;
}
.skin_red .play_tab_1 thead th{
	background:#B33B4E!important;
	 color:#fff!important;
}

.skin_blue .play_tab_1 thead th{
	background:#2161b3!important;
	color:#fff!important;
}


#total_sum_money {
    font-size: 14px;
    color: #f00;
    font-weight: bold;
    padding: 2px 5px;
    width: 90px;
    background-color: #fff;
    height: 16px;
    margin-top: 5px;
    line-height: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#page_name, #next_turn_num {
    color: #fff!important;
}

.c-txt1 {
    color: #26d026;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
