<ion-content class="bet-view">
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">总和<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-50 bet ok" data-id="652101"><span class="bet-content">总和大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="652102"><span class="bet-content">总和小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="652103"><span class="bet-content">总和单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="652104"><span class="bet-content">总和双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="652106"><span class="bet-content">总大单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="652107"><span class="bet-content">总大双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="652108"><span class="bet-content">总小单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="652109"><span class="bet-content">总小双</span> <span class="bet-item">1.982</span></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">前后和<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row">
		<div class="col col-33 bet special ok" data-id="652301"><div class="bet-content">前多</div><div class="bet-item">2.6</div></div>
		<div class="col col-33 bet special ok" data-id="652302"><div class="bet-content">后多</div><div class="bet-item">2.6</div></div>
		<div class="col col-33 bet special ok" data-id="652303"><div class="bet-content">前后和</div><div class="bet-item">2.6</div></div>
	</div>
	</div>
	<div class="row text-center" onclick="shhid(this)"><div class="col title">单双和<span class="jia">+</span></div></div>
	<div class="none">
	<div class="row end">
		<div class="col col-33 bet special ok" data-id="652401"><div class="bet-content">单多</div><div class="bet-item">2.6</div></div>
		<div class="col col-33 bet special ok" data-id="652402"><div class="bet-content">双多</div><div class="bet-item">2.6</div></div>
		<div class="col col-33 bet special ok" data-id="652403"><div class="bet-content">单双和</div><div class="bet-item">2.6</div></div>
	</div>
	</div>
</ion-content>