<ion-content class="bet-view">
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">五行</div></div>
	<div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="652501"><span class="bet-content">金</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="652502"><span class="bet-content">木</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-33 bet ok" data-id="652503"><span class="bet-content">水</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="652504"><span class="bet-content">火</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="652505"><span class="bet-content">土</span> <span class="bet-item">9.85</span></div>
	</div>
	</div>
</ion-content>