<ion-content class="bet-view">
	<div class="row text-center" onclick="shhid(this)"><div class="col title-no">正码</div></div>
	<div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="652601"><div class="bet-content round-1">1</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652602"><div class="bet-content round-1">2</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652603"><div class="bet-content round-1">3</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652604"><div class="bet-content round-1">4</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652605"><div class="bet-content round-1">5</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652606"><div class="bet-content round-1">6</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652607"><div class="bet-content round-1">7</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652608"><div class="bet-content round-1">8</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652609"><div class="bet-content round-1">9</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652610"><div class="bet-content round-1">10</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652611"><div class="bet-content round-1">11</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652612"><div class="bet-content round-1">12</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652613"><div class="bet-content round-1">13</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652614"><div class="bet-content round-1">14</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652615"><div class="bet-content round-1">15</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652616"><div class="bet-content round-1">16</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652617"><div class="bet-content round-1">17</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652618"><div class="bet-content round-1">18</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652619"><div class="bet-content round-1">19</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652620"><div class="bet-content round-1">20</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652621"><div class="bet-content round-1">21</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652622"><div class="bet-content round-1">22</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652623"><div class="bet-content round-1">23</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652624"><div class="bet-content round-1">24</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652625"><div class="bet-content round-1">25</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652626"><div class="bet-content round-1">26</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652627"><div class="bet-content round-1">27</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652628"><div class="bet-content round-1">28</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652629"><div class="bet-content round-1">29</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652630"><div class="bet-content round-1">30</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652631"><div class="bet-content round-1">31</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652632"><div class="bet-content round-1">32</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652633"><div class="bet-content round-1">33</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652634"><div class="bet-content round-1">34</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652635"><div class="bet-content round-1">35</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652636"><div class="bet-content round-1">36</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652637"><div class="bet-content round-1">37</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652638"><div class="bet-content round-1">38</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652639"><div class="bet-content round-1">39</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652640"><div class="bet-content round-1">40</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652641"><div class="bet-content round-1">41</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652642"><div class="bet-content round-1">42</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652643"><div class="bet-content round-1">43</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652644"><div class="bet-content round-1">44</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652645"><div class="bet-content round-1">45</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652646"><div class="bet-content round-1">46</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652647"><div class="bet-content round-1">47</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652648"><div class="bet-content round-1">48</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652649"><div class="bet-content round-1">49</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652650"><div class="bet-content round-1">50</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652651"><div class="bet-content round-1">51</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652652"><div class="bet-content round-1">52</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652653"><div class="bet-content round-1">53</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652654"><div class="bet-content round-1">54</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652655"><div class="bet-content round-1">55</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652656"><div class="bet-content round-1">56</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652657"><div class="bet-content round-1">57</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">

		<div class="col col-33 bet ok" data-id="652658"><div class="bet-content round-1">58</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652659"><div class="bet-content round-1">59</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652660"><div class="bet-content round-1">60</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652661"><div class="bet-content round-1">61</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652662"><div class="bet-content round-1">62</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652663"><div class="bet-content round-1">63</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652664"><div class="bet-content round-1">64</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652665"><div class="bet-content round-1">65</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652666"><div class="bet-content round-1">66</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652667"><div class="bet-content round-1">67</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652668"><div class="bet-content round-1">68</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652669"><div class="bet-content round-1">69</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652670"><div class="bet-content round-1">70</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652671"><div class="bet-content round-1">71</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652672"><div class="bet-content round-1">72</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652673"><div class="bet-content round-1">73</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652674"><div class="bet-content round-1">74</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652675"><div class="bet-content round-1">75</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="652676"><div class="bet-content round-1">76</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652677"><div class="bet-content round-1">77</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="652678"><div class="bet-content round-1">78</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="652679"><span class="bet-content round-1">79</span> <span class="bet-item">19.8</span></div>
		<div class="col col-50 bet ok" data-id="652680"><span class="bet-content round-1">80</span> <span class="bet-item">19.8</span></div>
	</div>
	</div>
</ion-content>