/*promotion */

body {
	background-color: #e7eef5;
}

.headertxt {
	font-size: 34px;
	color: #2161b3;
	position: absolute;
	top: 85px;
	left: 3px;
}

.headersubtxt {
	font-size: 20px;
    color: #a2a2a2;
    position: absolute;
    top: 130px;
    left: 3px;
}

.faqcontent {
	background-color: #fff;
}

.faqcontent .col1 {
	float: left;
	width: 200px;	
}

.faqcontent .col2 {
	float: left;
	width: 718px;
	margin-left: -1px;
	padding: 25px 40px 25px 40px;
	border: 1px solid #1f5fb2;
	color: #666;
	display:none;
	margin-bottom: 10px;
}


.faqcontent .col1 .itms {
	width: 198px;
	height: 58px;
	border: 1px solid #999;
	border-right: 1px solid #1f5fb2;
	position: relative;
	margin-top: -1px;
	cursor: pointer;
	color: #666;
}



/* #1f5fb2; */
.faqcontent .col1 .itms:first-child {
	margin-top: 0;	
	border: 1px solid #1f5fb2;
	border-right: 1px solid #fff;
	z-index: 9;
	color: #1f5fb2;
}

.col2 h1 {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 25px;	
}

.col2 h1:first-child {
	margin-top: 0;
}

.col2 h2 {
	font-size: 16px;
	margin: 0px;
	line-height: 22px;
}

.col2 p {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 22px;	
}

.blue_font {
	color:blue;
}

.sprite { background: url('../../images/cash/faqsprite.png') no-repeat top left; width: 33px; height: 24px;  
float:left;
margin-top: 14px;
margin-left: 22px;
} 
.itmstxt {
	font-size: 16px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	
}


.sprite.icon1 { background-position: 0 0!important; } 
.sprite.icon1a { background-position: -33px 0; } 
.sprite.icon3 { background-position: -66px 0!important;  } 
.sprite.icon3a { background-position: -99px 0; } 
.sprite.icon4 { background-position: -132px 0!important;  } 
.sprite.icon4a { background-position: -165px 0; } 
.sprite.icon5 { background-position: -198px 0!important;  } 
.sprite.icon5a { background-position: -231px 0; } 
.sprite.icon6 { background-position: -264px 0!important;  } 
.sprite.icon6a { background-position: -297px 0; }
.sprite.icon2 { background-position: -330px 0!important;  } 
.sprite.icon2a { background-position: -363px 0; } 




